<!DOCTYPE html>
<html lang="en" class="nm-np">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/app.css" />
    {% block header %} {% endblock %}
</head>
<body class="nm-np">
    <header class="grey">
    <div class="wrapper">
        <h1>Kraken Central</h1>
        <nav>
            <ul class="nm-np inline">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/admin">Admin</a></li>
                <li>
                    {% if user %}
                         <a href="/logout">Logout</a>
                    {% else %}
                         <a href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>
    <div class="wrapper">
        <div>
            <a href="/admin/plan">策略计划</a>
            <a href="/admin/positions">账户仓位</a>
            <a href="/admin/trade">委托列表</a>
            <a href="/admin/wallets">资金管理</a>

        </div>
        {% block body %} This is the default content {% endblock %}
    </div>
    <div id="tentacle">
    </div>
    {% block scripts %} 
    {% endblock %}
</body>
</html>
