<!DOCTYPE html>
<html lang="en" class="nm-np">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../js/plugins/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/site.css" />
    {% block header %} {% endblock %}
</head>
<body class="nm-np">
    <header class="grey">
    <div class="wrapper">
        <h1>红桃K量化交易系统</h1>
        <nav style="display: none;">
            <ul class="nm-np inline">
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/admin">Admin</a></li>
                <li>
                    {% if user %}
                         <a href="/logout">Logout</a>
                    {% else %}
                         <a href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>
    <div class="wrapper">
        <div style="float: left;">
            <a href="/admin/plan">策略计划</a>
            <a href="/admin/priceDifferences">市场差价</a>
            <a href="/admin/trade">委托列表</a>
            <a href="/admin/wallets">资金管理</a>
            <a href="/admin/positions">账户仓位</a>
            <a href="/admin/order">交易委托</a>
            <a href="/admin/pm2">系统</a>
        </div>
        <div style="float: right;">
            <a href="/admin">Admin</a>
            {% if user %}
                <a href="/logout">Logout</a>
           {% else %}
                <a href="/login">Login</a>
           {% endif %}
        </div>
        <div style="clear: both;"></div>
        {% block body %} This is the default content {% endblock %}
    </div>
    <div id="tentacle">
    </div>
    {% block scripts %} 
    {% endblock %}
</body>
</html>
