{% extends "layouts/admin-master.html" %} 
{% block header%}
<title>策略计划 </title>
<link href="/css/admin.css" rel="stylesheet">
{%endblock%}
{% block body %}
<div style="margin-bottom: 50px;">
    <h3>
       策略计划
    </h3>
    <div id="pnlStrategy" name="panel">
        <div id="pnlStrategyPlan">
            <div id="pnlPlanEdit" style="display: none;">
                Name:<input type="text" id="txtPlanName" /><br />
                Desc: <textarea id="txtPlanDesc" style="margin: 0px; width: 288px; height: 27px;" ></textarea>   <br />
                stepAmount: <input type="text" id="txtStepAmount" /><br />
                totalAmount: <input type="text" id="txtTotalAmount" /><br />
                <br/>
                <div>
                    <input type="button" id="btnSaveStrategyPlan" value="保存" />
                    <input type="button" id="btnCancelStrategyPlan" value="取消" />
                </div>
            </div>
            <div id="pnlStrategys" style="display: none">
                <div id="pnlStrategyStep">
                    <div id="step">
                        当<select id="step_siteA" data-group="1" name="sites"></select>:
                        <select id="step_symbolA" data-group="1" name="symbols"></select> 
                        <select id="step_operate">
                            <option value=">=">>=</option>
                            <option value="<="><=</option>
                        </select>
                        <select id="step_siteB" data-group="2" name="sites"></select>:
                        <select id="step_symbolB" data-group="2" name="symbols"></select> 
                        <input type="text" maxlength="5" id="step_range" style="width: 40px;" />%时,
                        建仓<input type="text" maxlength="8" style="width: 80px;" id="step_amount" />个
                        &nbsp; <a id="autoFill"  href="#">智能填充</a>
                    </div>
                    <ul id="stepParams"></ul>  
                    <script type="text/template" id="tmplStepParams">
                        <li data-group="<%= step.id %>">
                            <span name="operateType"> <%= step.operateType == 'buy' ? "做多" : "做空" %> </span>
                          site:  <span name="site"><%=  step.site %> </span>
                          IsPostOnly: <input type="checkbox" name="isPostOnly" value="Car" <%= step.isPostOnly ? checked="checked": "" %> /> 
                          step id: <input type="number" value="<%= step.id %>" name="stepId" min="1" max="2" />
                          side:  <select name="step_side">
                            <option value="buy">建仓</option><option value="sell">平仓</option></select>
                          type:  <select name="step_type">
                            <option value="margin">Margin</option><option value="exchange">Exchange</option></select>
                        </li>
                    </script>
                </div>
                <div>
                    <input type="button" id="step_submit" value="new" />
                    <input type="button" id="step_reset" value="reset" />
                      <!--  <a href="#" id="step_submit">new</a> <a href="#" id="step_reset">reset</a>
                     <input type="button" id="btnSaveStrategy" value="保存" /> -->
                    <input type="button" id="btnEidtStrategyCancel" value="cancel" />
                </div>
                <div id="pnlStrategyList" >
                    <table id="steps">
                    </table>
                </div>
            </div>
            <div id="pnlPlanList" >
                <div style="margin-top: 10px; margin-bottom: 10px;">
                    <input type="button" id="btnEditPlan" value="新建计划" />
                    <a href="#" id="lnkStrategyPlan">自定义计划</a>   
                    <a href="#" id="lnkStopAllPlans">全部暂停</a>  
                    <a href="#" id="lnkStartAllPlans">全部开启</a>  
                </div>
                <ul class="account_strategys" id="plansList">
                </ul>
                <script id="tmplPlanItem" type="text/template">
                    <li class="account_strategy account_strategy_line" data-itemId="<%= plan._id %>">
                        <div class="account_strategy_site">
                            <span style="display: inline-block;">
                            </span> <span> <a href="#"><%= plan.name %></a> </span>
                        </div>
                        <div class="account_strategy_app">
                            <div class="account_strategy_appInfo">
                                <div data-site="huobi" name="appKey">
                                    <%= plan.desc %>
                                </div>
                            </div>
                            <div>
                                 当前状态： <%= plan.status %> 每步执行数量:<%= plan.stepAmount %> 预设执行总数：<%= plan.totalAmount %>
                                 当前差值：<%= plan.strategyValue || '未知' %>
                                 <br> 
                                 已委托数量：<%= plan.totalConsignAmount %>
                                 已成交数量：<%= plan.totalActualAmount %>
                                 有<a href="/admin/order?planLogId=<%= plan.currentLog %>&type=1"><%= plan.unEndedOrdersCount %>个委托</a>未完成
                            </div>
                            <div style="color:red;display:<%= !plan.net || plan.net.hasFull ? 'none':'block' %>" ><%= plan.net ? plan.net.message : '' %></div>
                            <div>
                                <%= plan.isValid ? '有效' : '已被暂停' %>
                                <a name="setPlan" data-id="<%= plan._id %>" href="#">修改</a>
                                <a name="setStrategys" data-id="<%= plan._id %>" href="#" >设置策略</a>
                                <a name="runPlan" data-id="<%= plan._id %>" href="javascript:void(0);">运行</a>
                                <a name="resetPlan" data-id="<%= plan._id %>" href="javascript:void(0);">重置</a>
                                <a name="resetPlanAndRun" data-id="<%= plan._id %>" href="javascript:void(0);">重置并运行</a>
                                <a name="stopPlan" data-id="<%= plan._id %>"  href="javascript:void(0);">暂停</a>
                                <a name="delPlan" data-id="<%= plan._id %>"  href="javascript:void(0);">删除</a>
                            </div>
                        </div>
                        <div class="clear" />
                    </li>
                </script>
            </div>
        </div>
    </div>
</div>
 <input type="hidden" name="_csrf" value="{{_csrf}}" />
{% endblock %} 
{% block scripts %}
<script src="../js/plugins/jquery/1.11.1/jquery.js" type="text/javascript"></script>
<script src="../js/plugins/flexigrid/jquery.flexigrid.js" type="text/javascript"></script>
<script src="../js/common.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/plugins/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>
<!- order strategy ->
<script type="text/javascript">
    var operates = ['+','-','*','/','\\','[',']', '(',')','?',':','&&', '||'];
    var conditionOperates = ['>=','<=','==','!=','>','<','='];
    var symbols = operates.concat(conditionOperates);

    var _plans = {{ plans | safe }} || [];
    var _business = {{ business | safe }};
    var _isMoreAdvance = false;
    var _strategys = []; // [{siteA: matches[1],siteB: matches[3], symbolA: 'btc#cny',symbolB: 'btc#cny', priceRange: stepRange,orderAmount: 1 }];
    var _editStrategyId = null;
    var _relatedStrategy = null;
    var _editPlanId = null;

    $(function() {
        $('select[name="symbols"]').each(function(){
            var group = $(this).attr('data-group');
            var site = $(this).val();
            var $element = $(w.format('select[name="symbols"][data-group="{0}"]',group));
            initSymbolItems($(this),site);
        });

        $('select[name="sites"]').each(function(){
            $('<option/>').appendTo(this).val('').html('--请选择--');
            for(var i = 0; i < _business.sites.length;i++){
                var site = _business.sites[i];
                $('<option/>').appendTo(this).val(site).html(site);
            }
        });

        $('select[name="sites"]').change(function(){
            var group = $(this).attr('data-group');
            var site = $(this).val();
            if(!site){
                return;
            }

            var $element = $(w.format('select[name="symbols"][data-group="{0}"]',group));
            initSymbolItems($element,site);
            
            if(!_editStrategyId){
                var operateType;
                var step_operate = $('#step_operate').val();
                if(step_operate == '>=' || step_operate == '>'){
                    operateType = (group == 1 ? 'sell' : 'buy');
                } else {
                    operateType = (group == 1 ? 'buy' : 'sell');
                }
                var steps = [{ id: group, site: site, operateType: operateType  }];
                refreshStepParams(steps);
            }
        });

        $('#lnkAdvance').click(function () {
            $('#pnlStrategyAdvance').toggle();
        });

        $('#step_remove').click(function () {
            $(this).parent('tr').remove();
        });

        $('#step_submit').click(function () {
            var step_symbolA = $('#step_symbolA').val();
            var step_siteA = $('#step_siteA').val();
            var step_siteB = $('#step_siteB').val();
            var step_symbolB = $('#step_symbolB').val();
            var sStep_range = $('#step_range').val();
            var sStep_amount = $('#step_amount').val();
            var step_operate = $('#step_operate').val();

            if (!$.isNumeric(sStep_range)) {
                return alert('请输入数字！');
            }
            var step_range = parseFloat(sStep_range);

            if (!$.isNumeric(sStep_amount)) {
                return alert('请输入数字！');
            }

            var step_amount = parseFloat(sStep_amount);
            var stepA_params = $(w.format('#stepParams li[data-group="{0}"]',1));
            var stepA_isPostOnly = $(stepA_params).find('input[name="isPostOnly"]').prop('checked');
            var stepA_id = $(stepA_params).find('input[name="stepId"]').val();
            var stepA_side = $(stepA_params).find('select[name="step_side"]').val();
            var stepA_type = $(stepA_params).find('select[name="step_type"]').val(); 

            var stepB_params = $(w.format('#stepParams li[data-group="{0}"]',2));
            var stepB_isPostOnly = $(stepB_params).find('input[name="isPostOnly"]').prop('checked');
            var stepB_id = $(stepB_params).find('input[name="stepId"]').val();
            var stepB_side = $(stepB_params).find('select[name="step_side"]').val();
            var stepB_type = $(stepB_params).find('select[name="step_type"]').val(); 
        
            var step = {
                _id: _editStrategyId,
                siteA: step_siteA,
                symbolA: step_symbolA,
                stepA_isPostOnly: stepA_isPostOnly,
                stepA_id: stepA_id,
                stepA_side: stepA_side,
                stepA_type: stepA_type,

                siteB: step_siteB,
                symbolB: step_symbolB,
                stepB_isPostOnly: stepB_isPostOnly,
                stepB_id: stepB_id,
                stepB_side: stepB_side,
                stepB_type: stepB_type,

                operate: step_operate,
                priceRange: step_range,
                totalAmount: step_amount
            };

            if(!_editStrategyId && _relatedStrategy){
                step.relatedStrategy = _relatedStrategy;
                step.direction = 2;
            }

            if(!_editStrategyId){
                var res = checkStepValue(step);
                if (!res.isSuccess) {
                    return alert(res.message);
                }
            }

            var transferStrategy = getAdvanceStrategy(step);
            saveTransferStrategy(transferStrategy, _editPlanId ,function(strategy){
                showPlanStrategys(_editPlanId);
            });
        });
       
        $('#step_reset').click(function () {
            resetStrategy();
        });

        $('#lnkStrategyPlan').click(function(){
            $('#pnlStrategyPlan').show();
            $('#pnlStrategyAdvance').hide();
            $('#pnlMoreStrategy').hide();
        })
       
        $('#btnEditPlan').click(function(){
            _editPlanId = '';
            $('#pnlStrategys').hide();
            $('#pnlPlanEdit').show();
        });

        $('#btnSaveStrategyPlan').click(function(){
            var plan =  {};
            plan._id = _editPlanId;
            plan.name = $('#txtPlanName').val();
            plan.desc = $('#txtPlanDesc').val();
            plan.stepAmount = $('#txtStepAmount').val();
            plan.totalAmount = $('#txtTotalAmount').val();
            plan.type = 'union';

            saveStrategyPlan(plan,function(newPlan){
                upsertPlan(newPlan);
                showPlans();
            },function(){
                alert('系统错误，保存失败');
            });
        });

        $('#btnCancelStrategyPlan').click(function(){
            $('#pnlPlanEdit').hide();
        });

        $('#btnEidtStrategyCancel').click(function(){
            $('#pnlStrategys').hide();
        });

        $('#autoFill').click(function(){
            if(_strategys.length == 0){
                return;
            }
            var strategy = _strategys[0]
            var copyStrategy = deepCopy(strategy);
            copyStrategy.priceRange = 0;
            copyStrategy.totalAmount = 0;
            delete copyStrategy.relatedStrategy;
            delete copyStrategy.direction;

            initReverseStrategy(copyStrategy);
        });

        var getOperateText = function(group){
            var step_operate = $('#step_operate').val();
            if(step_operate == '>=' || step_operate == '>'){
                operateType = (group == 1 ? 'sell' : 'buy');
            } else {
                operateType = (group == 1 ? 'buy' : 'sell');
            }
            return (operateType == 'buy' ? '做多' : '做空')
        }
        $('#step_operate').change(function(){
            var stepA_params = $(w.format('#stepParams li[data-group="{0}"]',1));
            $(stepA_params).find('span[name="operateType"]').html(getOperateText(1));

            var stepB_params = $(w.format('#stepParams li[data-group="{0}"]',2));
            $(stepB_params).find('span[name="operateType"]').html(getOperateText(2));
        });

        $('#lnkStopAllPlans').click(function(){
            if(!confirm('确认要停止全部计划吗？')){
                return;
            }
            stopAllPlans();
        });
        $('#lnkStartAllPlans').click(function(){
            if(!confirm('确认要启动全部计划吗？')){
                return;
            }
            startAllPlans();
        });
        showStrategySteps();
        showPlans();
        refreshPlans();
    });

    function resetStrategy(){
        _editStrategyId = null;
        _relatedStrategy = null;

        //$('#step_siteA option:eq(0)').attr('selected','selected');
        $('#step_siteA').get(0).selectedIndex = 0
        $('#step_symbolA').empty();
        //$('#step_siteB option:eq(0)').attr('selected','selected');
        $('#step_siteB').get(0).selectedIndex = 0
        $('#step_symbolB').empty();
        $('#step_range').val(1);
        $('#step_amount').val('');
        //$('#step_operate option:eq(0)').attr('selected','selected');
        $('#step_operate').get(0).selectedIndex = 0
        $('#stepParams').html('');
        $('#step_submit').val('new');
    }

    function refreshStepParams(steps){
        var tmplStepParams = $('#tmplStepParams').html();
        for(var i = 0; i < steps.length; i++){
            var existItem, lastItem,
                step = steps[i];
            $('#stepParams li').each(function(){
                var group = $(this).attr('data-group');
                if(group + 1 <= step.id && !lastItem){
                    lastItem = this;
                }
                if(+group == step.id){
                    existItem = this;
                }
            });

            if(existItem){
               $(existItem).remove();
            }

            var source = w.template(tmplStepParams,{ step: step },1);
            if(lastItem){
                $(lastItem).after(source);
            } else {
                $('#stepParams').append(source);
            }
        }
    }

    function initSymbolItems($element,site){
        $element.html('');

        var symbols = [];
        for(var i = 0; i < _business.symbols.length;i++){
            if(_business.symbols[i].site == site){
                symbols = _business.symbols[i].symbols;
                break;
            }
        }
        
        for(var i = 0; i < symbols.length;i++){
            var symbol = symbols[i];
            $('<option/>').appendTo($element).val(symbol).html(symbol);
        }
    }

    function refreshPlans(){
        setInterval(function(){
            $.ajax({
                type: "GET",
                url: "/admin/plan/list",
                data: { "_csrf": $('input[name="_csrf"]').val()  },
                dataType: 'json'
            }).done(function (e) {
                if (e.isSuccess) {
                    _plans = JSON.parse(e.plans);
                    showPlans();
                }
                else {
                    //alert(e.message || "系统错误，请稍后重试！");
                }
            }).fail(function (e) {
                //alert("系统错误，请稍后重试！");
            });
        },5000);
    }

    function getPlanById(planId){
        for(var i = 0; i < _plans.length; i++){
            if(_plans[i]._id == planId){
                return _plans[i];
            }
        }
    }

    function upsertPlan(plan){
        let orgPlan = getPlanById(plan._id);
        if(orgPlan){
            _plans[_plans.indexOf(orgPlan)] = plan;
        } else {
            _plans.push(plan);
        }
    }

    /**
     * @param {String} symbol,货币类型
     * @step {Object} 简单的交易策略，格式为：{siteA: 'okex',siteB: 'bitfinex', symbolA: 'btc#usd',symbolB: 'btc#usd', operate: ">=", priceRange: 1,orderAmount: 1 }
     * @returns {Strategy.Order.strategys[i]} strategy,服务器端的交易策略
     */
    function getAdvanceStrategy(step){
        var condition = _getSymbolStepsCondition(step);
        var conditions = [];
        conditions.push(condition);

        var operates = [];
        var stepA_orderAmount = ((step.operate == '>=' || step.operate == '>') ? -1 : 1);
        stepA_orderAmount = step.stepA_side == 'buy' ? stepA_orderAmount : -stepA_orderAmount;
        operates.push({
            id : step.stepA_id,
            site: step.siteA, //平台名称
            side: step.stepA_side, //buy或sell
            type: step.stepA_type,
            symbol: step.symbolA, //cny、btc、ltc、usd
            action: 'trade',
            isPostOnly: step.stepA_isPostOnly,
            previousOperate: step.stepA_id == 1 ? 0 : 1,
            nextOperate: step.stepA_id == 1 ? 2 : 0,
            orderAmount: stepA_orderAmount
        });

        var stepB_orderAmount = ((step.operate == '>=' || step.operate == '>') ? 1 : -1);
        stepB_orderAmount = step.stepB_side == 'buy' ? stepB_orderAmount : -stepB_orderAmount;
        operates.push({
            id : step.stepB_id,
            site: step.siteB, //平台名称
            side: step.stepB_side, //buy或sell
            type: step.stepB_type,
            symbol: step.symbolB, //cny、btc、ltc、usd
            action: 'trade',
            isPostOnly: step.stepB_isPostOnly,
            previousOperate: step.stepB_id == 1 ? 0 : 1,
            nextOperate: step.stepB_id == 1 ? 2 : 0,
            orderAmount: stepB_orderAmount
        });

        return {
            //itemId: { type: Schema.ObjectId },
            _id: step._id,
            minAmount: 0, //最低额度 //todo
            isSimple: true,
            isValid: true,
            totalAmount: Math.abs(step.totalAmount),
            conditions:conditions,
            operates: operates,
            relatedStrategy: step.relatedStrategy,
            direction: step.direction
        };
    }

    /**
     * @param {Strategy.Order.strategys[i]} strategy,服务器端的交易策略
     * 根据服务器端的交易策略，获取简单的交易策略
     * @returns {Object} e.g {siteA: 'okex',siteB: 'bitfinex', symbolA: 'btc#usd',symbolB: 'btc#usd', priceRange: Number, orderAmount: Number}]
     */
    function getSimpleStrategy(strategy){
        if(!strategy.isSimple
        || (!strategy.conditions ||  strategy.conditions.length != 1)
        || (!strategy.operates ||  strategy.operates.length != 2)){
            return;
        }

        var operateA = strategy.operates[0];
        var operateB = strategy.operates[1];

        //获取条件表达式中的差价数值
        var stepRange,conditionOperate,condition = strategy.conditions[0];
        var express = '(' + conditionOperates.join('|') + ')(.*)$';
        var reg = new RegExp(express,'ig');
        var matches = reg.exec(condition);
        if(matches && matches.index > -1){
            conditionOperate = matches[1];
            var conditionValue = $.trim(matches[2]);

            var conditionItem = condition.substring(0,matches.index);
            stepRange = getConditionAmount(conditionValue);
        }

        var simpleStrategy = {
            _id: strategy._id,
            siteA: operateA.site,
            symbolA: operateA.symbol,
            stepA_isPostOnly: operateA.isPostOnly,
            stepA_id: operateA.id,
            stepA_side: operateA.side,
            stepA_type: operateA.type,

            siteB: operateB.site,
            symbolB: operateB.symbol,
            stepB_isPostOnly: operateB.isPostOnly,
            stepB_id: operateB.id,
            stepB_side: operateB.side,
            stepB_type: operateB.type,

            operate: conditionOperate,
            priceRange: stepRange,
            relatedStrategy: strategy.relatedStrategy,
            direction: strategy.direction,
            totalAmount: strategy.totalAmount
        }
        return simpleStrategy;
    }

    function _getSymbolStepsCondition(step){
        //'(huobi.btc - okcoin.btc) / okcoin.btc > 0.1%'
        var isGreater = (step.operate == '>=' || step.operate == '>');
        return w.format('({0}.{1}.{6} - {2}.{3}.{7}) / {0}.{1}.{6} {4} {5}%',step.siteA, step.symbolA,step.siteB, 
                       step.symbolB, step.operate, step.priceRange, isGreater ? 'buy' : 'sell',isGreater ? 'sell' : 'buy');
    }

    function getConditionAmount(express){
        var expressVal = express;
        if(express.indexOf('%') != -1){
            expressVal =  express.replace('%','');
        }

        var n = new Number(expressVal);
        if(!isNaN(n) && isFinite(n)){
            return parseFloat(expressVal);
        }
    }

    function showPlans(){
        var tempSource = $('#tmplPlanItem').html();
        var sources = [];
        for(var i = 0; i < _plans.length; i++){
            if(_plans[i].isValid){
                var tempData = { "plan":  _plans[i]};
                var source = w.template(tempSource, tempData,1);
                sources.push(source);
            }
        }
        var html = sources.join('');
        $('#plansList').html(html);

        $('a[name="setPlan"]').click(function(){
            var itemId = $(this).attr('data-id');
            var plan = getPlanById(itemId);
            _editPlanId = plan._id;

            $('#txtPlanName').val(plan.name);
            $('#txtPlanDesc').val(plan.desc);
            $('#txtStepAmount').val(plan.stepAmount);
            $('#txtTotalAmount').val(plan.totalAmount);
        
            $('#pnlPlanEdit').show();
            $('#pnlStrategys').hide();
        });

        $('a[name="setStrategys"]').click(function(){
            $('#stepParams').html('');

            let planId = $(this).attr('data-id');
            _editPlanId = planId;
            showPlanStrategys(planId);

            $('#pnlStrategys').show();
            $('#pnlPlanEdit').hide();
            //$('#stepParams').hide();
            resetStrategy();
        });

        $('a[name="runPlan"]').click(function(){
            var itemId = $(this).attr('data-id');
            $.ajax({
                type: "POST",
                url: "/admin/plan/run",
                data: { planId: itemId,"_csrf": $('input[name="_csrf"]').val()  },
                dataType: 'json'
            }).done(function (e) {
                if (e.isSuccess) {
                    alert("成功！");
                }
                else {
                    alert(e.message || "启动计划时出现系统错误，请稍后重试！");
                }
            }).fail(function (e) {
                alert("启动计划时可能出现网络异常，请稍后重试！");
            });
        });

        $('a[name="resetPlanAndRun"]').click(function(){
            var itemId = $(this).attr('data-id');
            resetPlan(itemId,'wait');
        });

        $('a[name="resetPlan"]').click(function(){
            var itemId = $(this).attr('data-id');
            resetPlan(itemId);
        });
    
        $('a[name="stopPlan"]').click(function(){
            var itemId = $(this).attr('data-id');
            $.ajax({
                type: "POST",
                url: "/admin/plan/updatePlanStatus",
                data: { planId: itemId, status: "stopped", "_csrf": $('input[name="_csrf"]').val()  },
                dataType: 'json'
            }).done(function (e) {
                if (e.isSuccess) {
                    alert("成功！");
                    upsertPlan(e.plan);
                    showPlans();
                } else {
                    alert(e.message || "停止计划时出现系统错误，请稍后重试！");
                }
            }).fail(function (e) {
                alert("停止计划时可能出现网络异常，请稍后重试！");
            });
        });

        $('a[name="delPlan"]').click(function(){
            if(!confirm('确认要删除吗？')){
                return;
            }

            var itemId = $(this).attr('data-id');
            $.ajax({
                type: "POST",
                url: "/admin/plan/save",
                data: { plan: { _id: itemId, isValid: false }, "_csrf": $('input[name="_csrf"]').val()  },
                dataType: 'json'
            }).done(function (e) {
                if (e.isSuccess) {
                    alert("成功！");
                    upsertPlan(e.plan);
                    showPlans();
                } else {
                    alert(e.message || "删除计划时出现系统错误，请稍后重试");
                }
            }).fail(function (e) {
                alert("删除计划时可能出现网络异常，请稍后重试！");
            });
        });
    }

    function startAllPlans(){
        $.ajax({
            type: "POST",
            url: "/admin/plan/startAllPlans",
            data: { "_csrf": $('input[name="_csrf"]').val()  },
            dataType: 'json'
        }).done(function (e) {
            if (e.isSuccess) {
                alert("成功！");
                showPlans();
            }
            else {
                alert(e.message || "重置计划时出现系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("重置计划时可能出现网络异常，请稍后重试！");
        });
    }

    function stopAllPlans(){
        $.ajax({
            type: "POST",
            url: "/admin/plan/stopAllPlans",
            data: { "_csrf": $('input[name="_csrf"]').val() },
            dataType: 'json'
        }).done(function (e) {
            if (e.isSuccess) {
                alert("成功！");
                showPlans();
            }
            else {
                alert(e.message || "重置计划时出现系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("重置计划时可能出现网络异常，请稍后重试！");
        });
    }

    function resetPlan(planId,status,failFun){
        status = status || 'init';
        $.ajax({
            type: "POST",
            url: "/admin/plan/reset",
            data: { planId: planId, status: status, "_csrf": $('input[name="_csrf"]').val()  },
            dataType: 'json'
        }).done(function (e) {
            if (e.isSuccess) {
                alert("成功！");
                upsertPlan(e.plan);
                showPlans();
            }
            else {
                alert(e.message || "重置计划时出现系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("重置计划时可能出现网络异常，请稍后重试！");
        });
    }

    function showPlanStrategys(planId,failFun){
        $.ajax({
            type: "GET",
            url: "/admin/plan/getPlanStrategys",
            data: { "planId":  planId,"_csrf": $('input[name="_csrf"]').val()  },
            dataType: 'json'
        }).done(function (e) {
            if (e.isSuccess) {
                _strategys = [];
                $('#steps').html('');
                for(var i = 0; i < e.strategys.length; i++){
                    var simpleStrategy = getSimpleStrategy(e.strategys[i]);
                    _strategys.push(simpleStrategy);
                }
                showStrategySteps();
            } else {
                failFun ? failFun() : alert("获取计划的所有策略时出现系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            failFun ? failFun() : alert("获取计划的所有策略时可能出现网络异常，请稍后重试！");
        });
    }

    //***********  STEPS s *******
    function showStrategySteps() {
        var source = [];
        var addStep = function(step){
            if(step.relatedStrategy && step.direction != 1){
                source.push("|——&nbsp;");
            }

            var s = w.format('{0}:{1} - {2}:{3},当数值{4}{5}%时,建仓数量{6}个',step.siteA,step.symbolA,step.siteB, 
                                step.symbolB,step.operate,step.priceRange,step.totalAmount);
            source.push(s);

            source.push(w.format('&nbsp;&nbsp;<a href="#" name="editStep" data-id="{0}">编辑</a>',step._id));
            if(!step.relatedStrategy){
                source.push(w.format('&nbsp;&nbsp;<a href="#" name="addGroupStep" data-id="{0}">设置平仓策略</a>',step._id));
            }
            source.push(w.format('&nbsp;&nbsp;<a href="#" name="removeStep" data-id="{0}">删除</a>',step._id));
        }

        for (var j = 0; j < _strategys.length; j++) {
            var stepsLen = _strategys.length;
            var step = _strategys[j];
            if(step.relatedStrategy && step.direction != 1){
                continue;
            }
             
            source.push('<hr style=" border:1px dashed #ccc; border-style:dashed;" />');
            addStep(step);
            source.push('<br/>')

            var relatedStrategy = null;
            if(step.relatedStrategy){
                for (var k = 0; k < _strategys.length; k++) {
                    if(_strategys[k]._id == step.relatedStrategy){
                        relatedStrategy = _strategys[k];
                        break;
                    }
                }
            }
            if(relatedStrategy){
                addStep(relatedStrategy);
            }
        }
        source.push('<hr style=" border:1px dashed #ccc; border-style:dashed;" />');

        $('#steps').html('');
        $('#steps').append(source.join(''));

        $('a[name="removeStep"]').click(function(){
            if(!confirm('确认要删除吗？')){
                return;
            }
            
            var strategyId = $(this).attr('data-id');
            deleteTransferStrategy(_editPlanId,strategyId,function(){
                showPlanStrategys(_editPlanId);
            });
        });

        
        $('a[name="addGroupStep"]').click(function(){
            var strategyId = $(this).attr('data-id');
            var strategy;
            for(var i = 0; i < _strategys.length;i++){
                if(_strategys[i]._id == strategyId){
                    strategy = _strategys[i];
                    break;
                }
            }

            _relatedStrategy = strategyId;
            var relatedStrategy = deepCopy(strategy);
            relatedStrategy.operate = (strategy.operate == '>=' ? '<=' : '>=');
            relatedStrategy.priceRange = 0;
            relatedStrategy.stepA_side = (strategy.stepA_side == 'buy' ? 'sell' : 'buy');
            relatedStrategy.stepB_side = (strategy.stepB_side == 'buy' ? 'sell' : 'buy');

            initReverseStrategy(relatedStrategy);
        });

        $('a[name="editStep"]').click(function(){
            var strategyId = $(this).attr('data-id');
            _relatedStrategy = null;

            var strategy;
            for(var i = 0; i < _strategys.length;i++){
                if(_strategys[i]._id == strategyId){
                    strategy = _strategys[i];
                    break;
                }
            }
         
            editStrategy(strategy);
        });
    }

    function initReverseStrategy(strategy){
        editStrategy(strategy);

        _editStrategyId = null;
        $('#step_submit').val('新建');
        $('#stepParams').show();
    }
    

    function editStrategy(strategy){
        var getOperateType = function(group){
            var step_operate = strategy.operate;
            if(step_operate == '>=' || step_operate == '>'){
                operateType = (group == 1 ? 'sell' : 'buy');
            } else {
                operateType = (group == 1 ? 'buy' : 'sell');
            }
            return operateType;
        }
        var steps = [{ 
            id: 1, 
            operateType: getOperateType(1),
            site: strategy.siteA     
        },{
            id: 2, 
            operateType: getOperateType(2),
            site: strategy.siteB 
        }];
        refreshStepParams(steps);

        for(var i = 0; i < steps.length;i++){
            var $element = $(w.format('select[name="symbols"][data-group="{0}"]',steps[i].id));
            initSymbolItems($element,steps[i].site);
        }

        $('#step_symbolA').val(strategy.symbolA);
        $('#step_siteA').val(strategy.siteA);
        $('#step_siteB').val(strategy.siteB);
        $('#step_symbolB').val(strategy.symbolB);
        $('#step_range').val(strategy.priceRange);
        $('#step_amount').val(strategy.totalAmount);
        $('#step_operate').val(strategy.operate);

        var stepA_params = $(w.format('#stepParams li[data-group="{0}"]',1));
        $(stepA_params).find('input[name="isPostOnly"]').prop('checked',strategy.stepA_isPostOnly);
        $(stepA_params).find('input[name="stepId"]').val(strategy.stepA_id);
        $(stepA_params).find('select[name="step_side"]').val(strategy.stepA_side);
        $(stepA_params).find('select[name="step_type"]').val(strategy.stepA_type);

        var stepB_params = $(w.format('#stepParams li[data-group="{0}"]',2));
        $(stepB_params).find('input[name="isPostOnly"]').prop('checked',strategy.stepB_isPostOnly);
        $(stepB_params).find('input[name="stepId"]').val(strategy.stepB_id);
        $(stepB_params).find('select[name="step_side"]').val(strategy.stepB_side);
        $(stepB_params).find('select[name="step_type"]').val(strategy.stepB_type);

        _editStrategyId = strategy._id;
        $('#step_submit').val('update');
        $('#stepParams').show();
    }

    function sortSteps(steps) {
        steps.sort(function (a, b) {
            if (a.siteA != b.siteA) {
                return a.siteA > b.siteA;
            }
            else if (a.siteB != b.siteB) {
                return a.siteB > b.siteB;
            }
            return a.priceRange > b.priceRange;
        });
    }

    function getSteps(symbol, siteA, siteB) {
        var steps = [];
        var symbolItem = getSymbolSteps(symbol);
        if(!symbolItem){
            return steps;
        }

        for (var i = 0; i < symbolItem.steps.length; i++) {
            var step = symbolItem.steps[i];
            if (step.siteA == siteA && step.siteB == siteB) {
                steps.push(step);
            }
        }

        return steps;
    }

    function checkStepValue(step) {
        //symbol, siteA, siteB
        var maxPriceRange = 0;
        var totalAmount = 0;

        var steps = _strategys;
        for (var i = 0; i < steps.length; i++) {
            var stepItem = steps[i];

            if (stepItem.priceRange > maxPriceRange) {
                maxPriceRange = stepItem.priceRange;
            }

            totalAmount += Math.abs(stepItem.orderAmount);
        }

        var res = {
            isSuccess: true,
            message: "",
            totalAmount: totalAmount,
            maxPriceRange: maxPriceRange
        };

        if (step.orderAmount + totalAmount > 100) {
            res.isSuccess = false;
            res.message = "设置的各项之和不能大于100%";

        }
        // else if (step.priceRange <= maxPriceRange) {
        //     res.isSuccess = false;
        //     res.message = '当前项设置的盈利点必须高于之前的' + maxPriceRange + '%';
        // }

        return res;
    }

    //*********** STEPS e *******
    function deleteTransferStrategy(planId,strategyId,callback){
         $.ajax({
            type: "POST",
            url: "/admin/plan/removeStrategy",
            data: { planId:planId, strategyId: strategyId,"_csrf": $('input[name="_csrf"]').val()  },
            dataType: 'json'
        }).done(function (e) {
            if (!e.isSuccess) {
                alert("删除策略时出现系统错误，请稍后重试！");
            }

            callback && callback(e);
        }).fail(function (e) {
            alert("删除策略时可能出现网络错误，请稍后重试！");
        });
    }

    function saveTransferStrategy(strategy, planId, successFun,failFun) {
        var sStrategy = JSON.stringify(strategy);
        $.ajax({
            type: "POST",
            url: "/admin/plan/setStrategy",
            data: { "strategy": sStrategy,  "planId": planId, "_csrf": $('input[name="_csrf"]').val()  },
            dataType: 'json'
        }).done(function (e) {
            if (e.isSuccess) {
                successFun && successFun(e.strategy);
            }
            else {
                failFun ? failFun() : alert(e.message || "保存策略时出现系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            failFun ? failFun() : alert("保存策略时可能出现网络错误，请稍后重试！");
        });
     }

    function saveStrategyPlan(strategyPlan,successFun,failFun) {
        strategyPlan.isSimple = true;
         $.ajax({
            type: "POST",
            url: "/admin/plan/save",
            data: { plan: strategyPlan,"_csrf": $('input[name="_csrf"]').val()  },
            dataType: 'json'
        }).done(function (e) {
            if (e.isSuccess) {
                successFun && successFun(e.plan);
            } else {
                failFun ? failFun() : alert("保存计划时系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            failFun ? failFun() : alert("保存计划时可能出现网络错误，请稍后重试！");
        });
    }
    
    function S4() {
        return ((1 + Math.random()) * 65536 | 0).toString(16).substring(1)
    };

    function generateGroupName() {
        var delim;
        delim = "-";
        return S4() + S4() + delim + S4() + delim + S4() + delim + S4() + delim + S4() + S4() + S4()
    }

    function deepCopy(obj){
        if(typeof obj != 'object'){
            return obj;
        }
        var newobj = {};
        for ( var attr in obj) {
            newobj[attr] = deepCopy(obj[attr]);
        }
        return newobj;
    }

</script>
{% endblock %} 