{% extends "layouts/admin-master.html" %} 
{% block header%}

<link href="/css/admin.css" rel="stylesheet">
<style type="text/css">
#report
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
}

#report td, #positions th 
{
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
}

#report th 
{
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
}

#report tr.alt td 
{
  color:#000000;
  background-color:#EAF2D3;
  min-width: 120px;
}
</style>
{%endblock%}
{% block body %}
<div >
    <h3>行情列表:</h3>
    <div>
        <div style="width: 952px; padding:2px;background-color: rgb(199, 217, 247); ">  

            site:
            <select id="inquirysite" name="sites" data-group="1" >
            </select>&nbsp;&nbsp;

            <span id="hide" style="display:none;">symbol: 
            <select id="inquirysymbol" name="symbols" data-group="1" >
            </select>&nbsp;&nbsp;&nbsp;&nbsp;</span>

            status:
            <select id="inquirystatus" name="statuss" >
                <option value="">--请选择--</option>
                <option value="wait">运行中</option>
                <option value="consign">已委托未成交</option>
                <option value="success">已完成</option>
                <option value="part_success">部分成功</option>
                <option value="will_cancel">已标记取消未完成</option>
                <option value="canceled">已取消</option>
                <option value="auto_retry">超时不同价格重新委托</option>
                <option value="failed">已失败</option>
            </select><br/>

            起始时间:<input size="16"  type="text" id="datetimeStart" class="form_datetime">--
            结束时间:<input size="16"  type="text" id="datetimeEnd" class="form_datetime">
           
            <input type="button" id="btnSearch" value="查询" />
            <button onclick="document.location.reload()">重置</button>
        </div>
            
        <table id="report">
        </table>
    </div>
</div>

{% endblock %} {% block scripts %}
<script src="../js/jquery-1.8.2.js" type="text/javascript"></script>
<script src="../js/plugins/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript" language="utf-8"></script>
<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript" language="utf-8"></script>
<script src="../js/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" language="utf-8"></script>



<link rel="stylesheet" href="../js/plugins/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="../js/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" type="text/css" media="screen"/>
<script type="text/javascript">
   

    var _business = {{ business | safe }};

    var _bargainAmountSum = {{ bargainAmountSum | safe }};//{"_id":{"site":"bitfinex","side":"buy","symbol":"eos#btc_1w"},"bargainAmount":400,"total":1600000,"sum":400}

    var _currentOperateLog;

    

    
    $(function () {
        showReports();
        // setInterval(function(){
        //     init();
        // },3000)

        $("#datetimeStart").datetimepicker({
            format:'yyyy-mm-dd hh:ii',
            endDate:new Date(),
            todayBtn: true,
            // startView:2,//点开插件后显示的界面。0、小时1、天2、月3、年4、十年，默认值2
            // minView:1,//插件可以精确到那个时间，比如1的话就只能选择到天，不能选择小时了
            minuteStep: 5,
            language:'zh-CN',
            autoclose:true
        });
        $("#datetimeEnd").datetimepicker({
            format:'yyyy-mm-dd hh:ii',
            endDate:new Date(),
            todayBtn: true,
            minuteStep: 5,
            // startView:2,//点开插件后显示的界面。0、小时1、天2、月3、年4、十年，默认值2
            // minView:1,//插件可以精确到那个时间，比如1的话就只能选择到天，不能选择小时了
            language:'zh-CN',
            autoclose:true
        }).on("click",function(){
        $("#datetimeEnd").datetimepicker("setStartDate",$("#datetimeStart").val())
        });

        $('select[name="sites"]').each(function(){
            $('<option/>').appendTo(this).val('').html('--请选择--');
            for(var i = 0; i < _business.sites.length;i++){
                var site = _business.sites[i];
                $('<option/>').appendTo(this).val(site).html(site);
            }
            
        });

        $('select[name="symbols"]').each(function(){
            $('<option/>').appendTo(this).val('').html('--请选择--');
            var group = $(this).attr('data-group');
            var site = $(this).val();
            var $element = $(w.format('select[name="symbols"][data-group="{0}"]',group));
            initSymbolItems($(this),site);
            
        });

        $('select[name="sites"]').change(function(){
            if($('select[name="sites"]').val()==''){
                $('#hide').hide();
                $('select[name="symbols"]').val('').html('--请选择--');
                
            }else{
                $('#hide').show();
                var group = $(this).attr('data-group');
                var site = $(this).val();
                if(!site){
                    return;
                }
                var $element = $(w.format('select[name="symbols"][data-group="{0}"]',group));
                initSymbolItems($element,site);
            } 
        });
        
        $('#btnSearch').click(function(){
            $("#report").empty();
            init();

        });
        
    });

    function init(){
        
        var site = $('#inquirysite').val();
        var symbol = $('#inquirysymbol').val();
        var status = $('#inquirystatus').val();
        var createdStart = $('#datetimeStart').val();
        var createdEnd = $('#datetimeEnd').val();
        var data={
            "site": site,
            "symbol": symbol,
            "status": status,
            "createdStart": createdStart,
            "createdEnd": createdEnd
        };
        
        $.ajax({
            type: "GET",
            url: "/admin/report/list",
            data: data,
            dataType: 'json'
        }).done(function (e) {
            
            if(typeof e.bargainAmountSum == 'string'){
            _bargainAmountSum = JSON.parse(e.bargainAmountSum); 
            showReports();
            }
            
        }).fail(function (e) {
            alert("系统错误，请稍后重试！");
        });
    }

    

    //获取成交总数/平均价
    function showReports(){
        
        var amount; //总成交量
        var middle = 0; //总价
        var multipleWarehouse = 0; //多仓
        var shortPosition = 0; //空仓
        var _symbolAmounts = [];// { site: "",symbol: "",amount: 234,avavgPrice: 123, plusAmount: 1,minusAmount: -1 }
        for(var i = 0,l =_bargainAmountSum.length; i< l ;i++){

            amount = (_bargainAmountSum[i]._id.side=="buy"?_bargainAmountSum[i].bargainAmount:-_bargainAmountSum[i].bargainAmount);

            middle = _bargainAmountSum[i].total;

            var symbolItem = getItem(_bargainAmountSum[i]._id.site,_bargainAmountSum[i]._id.symbol,_symbolAmounts); 
            symbolItem.amount += amount;
            symbolItem.middle += middle;

            if(amount > 0 ){
                symbolItem.multipleWarehouse += amount;
            } else{ 
                symbolItem.shortPosition += amount;
            }
            
        }

        var arr= [];
        var result = {}; 
        
        for (var i = 0; i < _symbolAmounts.length; i++) {
            if(arr.indexOf(_symbolAmounts[i].symbol)==-1){
                arr.push(_symbolAmounts[i].symbol);
            }
        }
        for (var i = 0; i < arr.length; i++) {
            var amount = 0;
            var profit = 0;
            var multipleWarehouse = 0;
            var shortPosition =0;
            result[arr[i]] = {
                    amount: 0,
                    multipleWarehouse : 0,
                    shortPosition : 0,
                    profit : 0,
                    data : []
            };
            
            for (var j = 0; j < _symbolAmounts.length; j++) {
                if(_symbolAmounts[j].symbol==arr[i]){
                    amount += _symbolAmounts[j].amount;
                    multipleWarehouse += _symbolAmounts[j].multipleWarehouse;
                    shortPosition +=  _symbolAmounts[j].shortPosition;
                    profit -=  _symbolAmounts[j].middle;

                    result[arr[i]].amount = amount;
                    result[arr[i]].multipleWarehouse = multipleWarehouse;
                    result[arr[i]].shortPosition = shortPosition;
                    result[arr[i]].profit = profit;
                    result[arr[i]].data.push(_symbolAmounts[j]);
                }
                
            }
           
        }
        
        var source = [];
        source.push('<tr><th>币种</th><th>交易网站</th><th colspan="3">数量</th></tr>');
        for(var key in result ){

             //result[key].profit需要正数转负数
            for(var i = 0; i<result[key].data.length;i++){
                source.push('<tr>');
                if(i == 0){
                    source.push(w.format('<td rowspan="{0}">{1}<br/>总利润：{2}</td>',result[key].data.length,key,w.toDecimal(Math.abs(result[key].profit || 0),2)));
                } 
                source.push(w.format('<td>{0}</td><td><span>建仓：</span>{1}</td><td><span>多仓：</span>{2}</td><td><span>空仓：</span>{3}</td>',
                    result[key].data[i].site,w.toDecimal(Math.abs(result[key].data[i].amount || 0),2),w.toDecimal(Math.abs(result[key].data[i].multipleWarehouse || 0),2),w.toDecimal(Math.abs(result[key].data[i].shortPosition || 0),2)));
                source.push('</tr>');
            }
        }
        $('#report').html(source.join('')); 
    }


    //下拉框二级联动
    function initSymbolItems($element,site){
        $element.html('--请选择--');
        var symbols = [];
        for(var i = 0; i < _business.symbols.length;i++){
            if(_business.symbols[i].site == site){
                symbols = _business.symbols[i].symbols;
                break;
            }
        }

        for(var i = 0; i < symbols.length;i++){
            var symbol = symbols[i];
            $('<option/>').appendTo($element).val(symbol).html(symbol);
        }
    }

    
    //处理行情价格，split分割btc_1w
    function getItem(site,symbol,_symbolAmounts){
        var t,
            coinsPair = symbol.split('_')[0];
        for(var i = 0,l = _symbolAmounts.length; i< l ;i++){
            if(_symbolAmounts[i].site == site && _symbolAmounts[i].symbol == coinsPair ){
                t = _symbolAmounts[i];
                break;
            }
        }

        if(!t){
            t = { site:site, symbol:coinsPair, amount: 0, middle: 0, multipleWarehouse: 0, shortPosition: 0 } //profit: 0,
            _symbolAmounts.push(t);
        }
      return t;  
    }
</script>
{% endblock %}
 
