{% extends "layouts/admin-master.html" %} 
{% block body %}
<div>
    <h3>委托列表</h3>
    <div>
        <div style="width: 1044px; padding:2px; background-color: #C2DAFA;">  
            site:
            <select id="inquirysite" name="sites" data-group="1" >
            </select>&nbsp;&nbsp;

            <span id="hide" style="display:none;">symbol: 
            <select id="inquirysymbol" name="symbols" data-group="1" >
            </select>&nbsp;&nbsp;&nbsp;&nbsp;</span>

            status:
            <select id="inquirystatus" name="status" >
                <option value="">--请选择--</option>
                <option value="wait">运行中</option>
                <option value="consign">已委托未成交</option>
                <option value="success">已完成</option>
                <option value="part_success">部分成功</option>
                <option value="will_cancel">已标记取消未完成</option>
                <option value="canceled">已取消</option>
                <option value="auto_retry">超时不同价格重新委托</option>
                <option value="failed">已失败</option>
            </select>
            <br/>

            起始时间:<input size="16"  type="text" id="datetimeStart" class="form_datetime">--
            结束时间:<input size="16"  type="text" id="datetimeEnd" class="form_datetime"> 
           
            <input type="button" id="btnSearch" value="查询" />
            <button onClick="document.location.reload()">重置</button>

            <label><input type="checkbox" id="showAll">包含已撤销委托</label>
            <a href="javascript:void(0)" id="showExceptionOrders">异常委托单</a>

            <input type="button" id="btnReport" value="展开" style="float:right">
        </div>
            <div id="report" style="width: 1044px;"> 
                
            </div>

        <div id="FlexiGrid_ContentDiv" onLoad="goPage(1,10);">
            <table id="FlexiGrid_ContentTable" style="display: none;">
            </table>
        </div>
        <div id="barcon" name="barcon"></div>
        <div name="customPager" id="flexiGridPager" for="FlexiGrid_ContentTable" style="padding-top: 4px; display: none"></div>
        <input type="hidden" name="_csrf" value="{{_csrf}}" />
        
    </div>
</div>

{% endblock %} {% block scripts %}
<script src="../js/jquery-1.8.2.js" type="text/javascript"></script>
<script src="../js/plugins/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript" language="utf-8"></script>
<script src="../js/lib/jquery.flexigrid.js" type="text/javascript"></script>
<script src="../js/common.js" type="text/javascript"></script>
<script src="../js/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript" language="utf-8"></script>
<script src="../js/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" language="utf-8"></script>

<link rel="stylesheet" href="../js/plugins/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="../js/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" type="text/css" media="screen"/>
<script type="text/javascript">

    var _business = {{ business | safe }};
    var _bargainAmountSum = {{ bargainAmountSum | safe }}; //e.g //{"_id":{"site":"bitfinex","side":"buy","symbol":"eos#btc_1w"},"bargainAmount":400,"total":1600000,"sum":400}
    var _currentOperateLog;
    var _symbolAmounts = []; // { site: "",symbol: "",amount: 234,avavgPrice: 123, plusAmount: 1,minusAmount: -1 }
    
    $(function () {
        showReports();
        setInterval(function(){
            $("#FlexiGrid_ContentTable").flexReload();
        },3000)

        // setInterval(quotation(),5000);
        $("#datetimeStart").datetimepicker({
            format:'yyyy-mm-dd hh:ii',
            endDate:new Date(),
            todayBtn: true,
            // startView:2,//点开插件后显示的界面。0、小时1、天2、月3、年4、十年，默认值2
            // minView:1,//插件可以精确到那个时间，比如1的话就只能选择到天，不能选择小时了
            minuteStep: 5,
            language:'zh-CN',
            autoclose:true
        // }).on("click",function(){
        //     $("#datetimeStart").datetimepicker("setEndDate",$("#datetimeEnd").val())
        });
        $("#datetimeEnd").datetimepicker({
            format:'yyyy-mm-dd hh:ii',
            endDate:new Date(),
            todayBtn: true,
            minuteStep: 5,
            // startView:2,//点开插件后显示的界面。0、小时1、天2、月3、年4、十年，默认值2
            // minView:1,//插件可以精确到那个时间，比如1的话就只能选择到天，不能选择小时了
            language:'zh-CN',
            autoclose:true
        }).on("click",function(){
        $("#datetimeEnd").datetimepicker("setStartDate",$("#datetimeStart").val())
        });

        $('select[name="sites"]').each(function(){
            $('<option/>').appendTo(this).val('').html('--请选择--');
            for(var i = 0; i < _business.sites.length;i++){
                var site = _business.sites[i];
                $('<option/>').appendTo(this).val(site).html(site);
            }
            
        });

        $('select[name="symbols"]').each(function(){
            $('<option/>').appendTo(this).val('').html('--请选择--');
            var group = $(this).attr('data-group');
            var site = $(this).val();
            var $element = $(w.format('select[name="symbols"][data-group="{0}"]',group));
            initSymbolItems($(this),site);
            
        });

        $('select[name="sites"]').change(function(){
            if($('select[name="sites"]').val()==''){
                $('#hide').hide();
                $('select[name="symbols"]').val('').html('--请选择--');
                
            }else{
                $('#hide').show();
                var group = $(this).attr('data-group');
                var site = $(this).val();
                if(!site){
                    return;
                }
                var $element = $(w.format('select[name="symbols"][data-group="{0}"]',group));
                initSymbolItems($element,site);
            } 
        });
        
        $('#btnSearch').click(function(){
            _symbolAmounts =[];
            $("#report").empty();
            // showReports();

            // console.log($("#datetime").val());
            var newParams = [
                { name:"site", value:$('#inquirysite').val() },
                { name:"symbol", value:$('#inquirysymbol').val() },
                { name:"status", value:$('#inquirystatus').val() },
                { name:"createdStart", value:$('#datetimeStart').val()},
                { name:"createdEnd", value:$('#datetimeEnd').val()}
            ]
            $("#FlexiGrid_ContentTable").setNewExtParam(newParams);
            $("#FlexiGrid_ContentTable").flexReload();
        });

        $("#report").hide();

        $("#btnReport").click(function(){
            $("#report").toggle('slow');
            $(this).val($(this).val()=="展开"?"隐藏":"展开");
        })

        $('#showAll').change(function(){
            var newParams = [
                { name:"showAll", value: $(this).prop('checked') ? 1 : 0 },
            ]
            $("#FlexiGrid_ContentTable").setNewExtParam(newParams);
            $("#FlexiGrid_ContentTable").flexReload();
        });
        
        $('#showExceptionOrders').click(function(){
            var newParams = [{ name:"type", value: 3 }]
            $("#FlexiGrid_ContentTable").setNewExtParam(newParams);
            $("#FlexiGrid_ContentTable").flexReload();
        });

        initFlexiGrid();    
    });
    
    function initFlexiGrid() { 
        var initData = {
            "page": 1,  //当前页
            "total": {{ total }},   //总页面数
            "orders": {{ orders | safe }}
        };

        var option = {
            width: 1044,
            height: 'auto',
            data: initData,
            autoPager: false,//分页菜单栏
            autoToolBar: true,
            colResizable: true,
            mutilRowMessage: true,
            showLoading: false,
            showMessageOnRowClicked: true,
            url: '/admin/trade/list',
            colModel: [
                { display: "交易网站", name: "site",type: 0,visible: true, width: "80", sortable: true,align:"left"},
                { display: "交易品种", name: "symbol",type: 0,visible: true, width: "80", sortable: true,align: "left" },
                { display: "委托时间",name: "created", type: 0,visible: true,width: "140",sortable: true,align: "left" },
                { display: "委托类型",name: "type", type: 0,visible: true,width: "80",sortable: true,align: "left" },
                { display: "交易类型",name: "side", type: 0,visible: true,width: "80",sortable: true,align: "left" },
                { display: "委托数量",name: "amount", type: 0,visible: true,width: "100",sortable: true,align: "left" },
                { display: "委托价格",name: "price", type: 0,visible: true,width: "100",sortable: true,align: "left" },
                { display: "已成交",name: "bargainAmount", type: 0,visible: true,width: "80",sortable: true,align: "left" },
                { display: "成交均价",name: "avgPrice", type: 0,visible: true,width: "100",sortable: true,align: "left" },
                { display: "委托状态",name: "status", type: 0,visible: true,width: "80",sortable: true,align: "left" },
            ],
            //分页页码
            onInited: flexiGridInited,
            //加载表格
            onPreLoad: flexiGridPreLoad,
            onLoaded: flexiGridLoaded,
            onCommand: flexiGridCommand,
            
            autoload: false,    //自动加载,改自动加载就会报错
            columnsFixed: true,
            checkCell: {
                showCheckAll: true,
                width: "25"
            },
            gridClass: "bbit-grid",
            bootStrapSupported: false,
            resizable: false,
            showTableToggleBtn: false,
            usepager: true, //是否分页
            useRp: true,    //是否可动态设置分页显示的结果数
            rp: 10,  //每页默认的结果数
            singleselected: false,
            nowrap: true,   //是否不换行
            showcheckbox: false,
            rpOptions: [10,20,30],  //可选择设定的每页结果数
            newp: 1,    //自定义翻页事件,定义刷新后第一页停留在哪个位置
            selectedonclick: false
        };
        
        $("#FlexiGrid_ContentTable").flexigrid(option);
        // $("#FlexiGrid_ContentTable").flexOptions(option).flexReload();
        var csrf = $('input[name="_csrf"]').val();
        $("#FlexiGrid_ContentTable").setNewExtParam([{name: "_csrf",value: csrf }]);   
    }

    onToggoleLeft = function () {
        $('#FlexiGrid_ContentTable').fixGridWidth();
    };

    function showReports(){
        
        var amount; //总成交量
        var middle = 0; //总价
        var multipleWarehouse = 0; //多仓
        var shortPosition = 0; //空仓
        
        for(var i = 0,l =_bargainAmountSum.length; i< l ;i++){
            amount = (_bargainAmountSum[i]._id.side=="buy"?_bargainAmountSum[i].bargainAmount:-_bargainAmountSum[i].bargainAmount);

            middle = _bargainAmountSum[i].total;

            var symbolItem = getItem(_bargainAmountSum[i]._id.site,_bargainAmountSum[i]._id.symbol); 
            symbolItem.amount += amount;
            symbolItem.middle += middle;

            if(amount > 0 ){
                symbolItem.multipleWarehouse += amount;
            } else{ 
                symbolItem.shortPosition += amount;
            }
        }

        var arr= []; // {eos#btc,btc#cny,btc#usd}
        var result = {};// {[eos#btc:amount:400 data:Array(1)0:{site: "okex", symbol: "eos#btc", amount: 400, profit: 2000, multipleWarehouse: 400, …} multipleWarehouse:400 profit:2000 shortPosition:0]}
        
        for (var i = 0; i < _symbolAmounts.length; i++) {
            if(arr.indexOf(_symbolAmounts[i].symbol) == -1){
                arr.push(_symbolAmounts[i].symbol);
            }
        }
        

        for (var i = 0; i < arr.length; i++) {
            var amount = 0;
            var profit = 0;
            var multipleWarehouse = 0;
            var shortPosition = 0;

            result[arr[i]] = {
                amount: 0,
                multipleWarehouse : 0,
                shortPosition : 0,
                profit : 0,
                data : []
            };

            for (var j = 0; j < _symbolAmounts.length; j++) {
                if(_symbolAmounts[j].symbol == arr[i]) {
                    amount += _symbolAmounts[j].amount;
                    multipleWarehouse += _symbolAmounts[j].multipleWarehouse;
                    shortPosition +=  _symbolAmounts[j].shortPosition;
                    profit -=  _symbolAmounts[j].middle;

                    result[arr[i]].amount = amount;
                    result[arr[i]].multipleWarehouse = multipleWarehouse;
                    result[arr[i]].shortPosition = shortPosition;
                    result[arr[i]].profit = profit;
                    result[arr[i]].data.push(_symbolAmounts[j]);
                }
            }
        }

        $("#report").empty("");
        for(var key in result ){
            var html ="<div style='border:1px solid #A9A9A9;width:50%;float:left;'><table><thead style='border-bottom:1px dashed #A9A9A9;'><tr><td>币种:<span style='color:red;'>" + key + 
                "</span></td><td>总建仓:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].amount || 0),2) +
                "</span>,</td><td>总多仓:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].multipleWarehouse || 0),2) +
                "</span>,</td><td>总空仓:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].shortPosition || 0),2) +
                    //result[key].profit需要正数转负数
                "</span>,</td><td>总利润:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].profit || 0),2) +
                "</span></td></tr></thead><tbody><tr><td colspan='5'>其中:</td></tr>";

        
            for(var i = 0; i<result[key].data.length;i++){
                html+="<tr><td>网站:<span style='color:red;'>" +  result[key].data[i].site +
                    "</span></td><td>建仓:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].data[i].amount || 0),2) +
                    "</span>,</td><td>多仓:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].data[i].multipleWarehouse || 0),2) +
                    "</span>,</td><td>空仓:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].data[i].shortPosition || 0),2) +
                    "</span></td></tr>"; 
            }

            html+="</tbody></table></div>";
            $("#report").append(html);
        }  
    }

    //"</span>,</td><td>总利润:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].profit || 0),4) +
        //<td>利润:<span style='color:red;'>" + w.toDecimal(Math.abs(result[key].data[i].profit || 0),4) + "</span></td>

    //分页页码
    function flexiGridInited(options) {
        var newParams = [
                { name:"type", value: w.getQueryStringValue('type') },
                { name:"planLogId",value: w.getQueryStringValue('planLogId') }
        ]
        $("#FlexiGrid_ContentTable").setNewExtParam(newParams);

        var option = { 
            pagerContainer: $("#flexiGridPager"),
            numDisplayEntries: 2, 
            numEdgeEntries: 2
        };
        $("#FlexiGrid_ContentTable").flexiGridPager(option);
        return options;
    }

    //这个很重要
    function flexiGridLoaded(options){
        $('a[name="manualOperate"]').click(function(){
            var orderId = $(this).attr("data-orderId");
            var operateLog;
            for(var i = 0; i < options.orders.length;i++){
                if(options.orders[i]._id == orderId){
                    operateLog = options.orders[i];
                    break;
                }
            }

            if(operateLog){
                _currentOperateLog = operateLog;
                $('#txtOperateAmount').val(operateLog.orgOperate.orderAmount)
            }
        });
    }

    //加载表格数据
    function flexiGridPreLoad(options){
        if(typeof options.orders == 'string'){
            options.orders = JSON.parse(options.orders);
        }

        if(typeof options.bargainAmountSum == 'string'){
            _bargainAmountSum = JSON.parse(options.bargainAmountSum); 
            showReports();
        }
        // showReports();

        var  data = {
            "page": options.page,
            "total": options.total,
            "dataType": "json",
            "rows": [],
            "orders": {}
        };

        var orders = options.orders || [];
        for(var i = 0; i < orders.length; i++){
            var order = orders[i];
            var side;
            if(order.side == 'buy'){
                side =  (order.amount > 0 ? '<span style="color:green;">买入开多</span>' : '<span style="color:red;">卖出开空</span>');
            } else { //sell
                side =  (order.amount < 0 ? '<span style="color:green;">买入平空</span>' : '<span style="color:red;">卖出平多</span>');
            }
            var row = {
                "id":order._id,
                "itemMessage": w.format('<div style="width:900px;white-space:normal;word-break:break-all;word-wrap:break-word">{0}</div>',$.toJSON(order)),
                "cell":[
                    {"cellHtml": order.site},
                    {"cellHtml": order.symbol},
                    {"cellHtml": order.created ? w.dateformat(new Date(order.created),"yyyy-MM-dd hh:mm:ss") : ''},
                    {"cellHtml": order.type},
                    {"cellHtml": side},
                    {"cellHtml": w.toDecimal(Math.abs(order.amount || 0),4) },
                    {"cellHtml": order.price },
                    {"cellHtml": w.toDecimal(Math.abs(order.bargainAmount || 0),4)},
                    {"cellHtml": w.toDecimal(Math.abs(order.avgPrice || 0),3)},
                    {"cellHtml": order.status}
                ]
            };
            data.rows.push(row);
        }
        return data;
    }

    function flexiGridCommand(sender, e) {
        var operateBtn = sender;
        var btnValue = $(operateBtn).attr("dataValue");
        var commandName = $(operateBtn).attr("commandName");
    }

    onToggoleLeft = function () {
        $('#FlexiGrid_ContentTable').fixGridWidth();
    };

    function initSymbolItems($element,site){
        $element.html('--请选择--');
        var symbols = [];
        for(var i = 0; i < _business.symbols.length;i++){
            if(_business.symbols[i].site == site){
                symbols = _business.symbols[i].symbols;
                break;
            }
        }

        for(var i = 0; i < symbols.length;i++){
            var symbol = symbols[i];
            $('<option/>').appendTo($element).val(symbol).html(symbol);
        }
    }

    function getItem(site,symbol){
        var t,
            coinsPair = symbol.split('_')[0];
        for(var i = 0,l = _symbolAmounts.length; i< l ;i++){
            if(_symbolAmounts[i].site == site && _symbolAmounts[i].symbol == coinsPair ){
                t = _symbolAmounts[i];
                break;
            }
        }

        if(!t){
            t = { site:site, symbol:coinsPair, amount: 0, middle: 0, multipleWarehouse: 0, shortPosition: 0 } //profit: 0,
            _symbolAmounts.push(t);
        }
        
        return t;  
    }

</script>
{% endblock %}
 
