{% extends "layouts/admin-master.html" %} 
{% block body %}
<div>
    
    <h3>委托列表:</h3>
    <div>
        <div id="FlexiGrid_ContentDiv" onLoad="goPage(1,10);">
            <table id="FlexiGrid_ContentTable" style="display: none">
            </table>
        </div>
        <div id="barcon" name="barcon"></div>
        <div name="customPager" id="flexiGridPager" for="FlexiGrid_ContentTable" style="padding-top: 4px; display: none"></div>
        <input type="hidden" name="_csrf" value="{{_csrf}}" />
        <button id="btn1">开启</button>&nbsp;&nbsp;<button id="btn2">停止</button><a href="/admin/trade">返回</a>
    </div>
</div>

{% endblock %} {% block scripts %}
<script src="../js/jquery-1.8.2.js" type="text/javascript"></script>
<script src="../js/lib/jquery.flexigrid.js" type="text/javascript"></script>
<script src="../js/common.js" type="text/javascript"></script>

<script type="text/javascript">

    var _currentOperateLog;
    $(function () {
        

        // $('#getStatusList').click(function(){
        //     $("#FlexiGrid_ContentTable").setNewExtParam([{name: "stauts",value: $('#stauts').val() }]);
        //     $("#FlexiGrid_ContentTable").flexReload();
        // });
        initFlexiGrid();
        

        flexiGridWx();
    });

    // function getVal(){
    //     var ws = new WebSocket("ws://119.28.204.125:8080/ws"); 
    //     ws.onopen = function() {  
    //             let channels = ['market','order','position','wallet']; 
    //             for(let site of ['okex','bitfinex']){       //这里需要指定  okex和bitfinex吗？
    //                 for(let channel of channels){
    //                     let option = {
    //                         event: "addChannel",
    //                         channel: channel,
    //                         parameters: { site: site, symbol: '*' }
    //                     };
    //                     ws.send(JSON.stringify(option));
    //                 }
    //             }
    //         };

    //         //客户端接收服务端数据时触发
    //         ws.onmessage = function(evt) {  
    //             let item = JSON.parse(evt.data);
    //             var aa = [];
    //                 if(item.channel == 'order'){
                        
    //                     for(var i =0 ; i<item.data.length;i++){
                            
    //                         aa = item.data[i];
    //                     }



    //     var tab = document.getElementById("FlexiGrid_ContentTable"); 
    //     var rows = tab.rows.length;
    //         for(var i = 0; i < rows; i++){
    //             //childNodes 子节点
    //             // var cols = tab.rows[i].childNodes;
    //             var cols = tab.rows[i];
    //         for(var m = 0; m < cols.length; m++){
    //             alert(cols[m].innerText);
    //             if(aa.outerId == cols.outerId){
    //                 if(aa.)
    //             }
                
    //         }
    //     }
    //}


    function initFlexiGrid() { 
        var initData = {
            "page": 1,  //当前页
            "total": {{ total }},   //总页面数
            "orders": {{ orders | safe }}
        };

        var option = {
            width: 1044,
            height: 'auto',
            data: initData,
            autoPager: false,//分页菜单栏
            autoToolBar: true,
            colResizable: true,
            mutilRowMessage: true,
            showLoading: true,
            showMessageOnRowClicked: true,
            url: '/admin/trade/list',
            colModel: [
                { display: "第三方id",name: "outerId",type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "交易品种", name: "symbol",type: 0,visible: true, width: "80", sortable: true,align: "center" },
                { display: "委托类型",name: "type", type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "委托状态",name: "status", type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "已成交数量",name: "dealAmount", type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "总数量",name: "amount", type: 0,visible: true,width: "100",sortable: true,align: "center" },
                { display: "交易类型",name: "side", type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "时间戳",name: "created", type: 0,visible: true,width: "140",sortable: true,align: "center" },
                { display: "委托价格",name: "price", type: 0,visible: true,width: "100",sortable: true,align: "center" },
                { display: "平均成交价格",name: "avgPrice", type: 0,visible: true,width: "100",sortable: true,align: "center" },
                { display: "是否隐藏单",name: "hidden", type: 0,visible: true,width: "100",sortable: true,align: "center" }
            ],
            onInited: flexiGridInited,
            onPreLoad: flexiGridPreLoad,
            onLoaded: flexiGridLoaded,
            onCommand: flexiGridCommand,
            
            //onSuccess:flexiGridWx,
            
            
            autoload: false,    //自动加载,改自动加载就会报错
            columnsFixed: true,
            checkCell: {
                showCheckAll: true,
                width: "25"
            },
            gridClass: "bbit-grid",
            bootStrapSupported: false,
            resizable: false,
            showTableToggleBtn: false,
            usepager: true, //是否分页
            useRp: true,    //是否可动态设置分页显示的结果数
            rp: 10,  //每页默认的结果数
            singleselected: false,
            nowrap: true,   //是否不换行
            showcheckbox: false,
            rpOptions: [10,20,30],  //可选择设定的每页结果数
            newp: 1,    //自定义翻页事件,定义刷新后第一页停留在哪个位置
            selectedonclick: false
        };
        
        $("#FlexiGrid_ContentTable").flexigrid(option);
        // $("#FlexiGrid_ContentTable").flexOptions(option).flexReload();
        var csrf = $('input[name="_csrf"]').val();
        $("#FlexiGrid_ContentTable").setNewExtParam([{name: "_csrf",value: csrf }]);
        
    }

    onToggoleLeft = function () {
        $('#FlexiGrid_ContentTable').fixGridWidth();
    };

    function flexiGridInited(options) {
        debugger
        var option = { 
            pagerContainer: $("#flexiGridPager"),
            numDisplayEntries: 2, 
            numEdgeEntries: 2
        };
        $("#FlexiGrid_ContentTable").flexiGridPager(option);
        return options;
    }

    //这个很重要
    function flexiGridLoaded(options){
        $('a[name="manualOperate"]').click(function(){
            var orderId = $(this).attr("data-orderId");
            var operateLog;
            for(var i = 0; i < options.orders.length;i++){
                if(options.orders[i]._id == orderId){
                    operateLog = options.orders[i];
                    break;
                }
            }

            if(operateLog){
                _currentOperateLog = operateLog;
                $('#txtOperateAmount').val(operateLog.orgOperate.orderAmount)
            }
        });
    }

    //加载表格数据
    function flexiGridPreLoad(options){
        if(typeof options.orders == 'string'){
            options.orders = JSON.parse(options.orders);
        }

        var  data = {
            "page": options.page,
            "total": options.total,
            "dataType": "json",
            "rows": [],
            "orders": {}
        };

        var getLogOperateDesc = function(logOperate,isCurrent){
            var desc, operate = logOperate.orgOperate;
            if(operate.action == "transfer"){
                desc = w.format("从{0}网站转出{1}个{2}至{3}网站",operate.transferSource,operate.orderAmount,operate.symbol,operate.transferTarget);
            } else { //order 
                desc = w.format("从{0}网站{1}个{2}",operate.site,operate.side == 'sell' ? '卖出' : '买入',operate.symbol);
            }

            if(isCurrent && !operate.auto){
                desc += '<br/>';
                desc += w.format('<a href="#" name="manualOperate" data-logId="{0}">手动操作</a>',logOperate._id);
            }
            return desc;
        }

        var orders = options.orders || [];
        for(var i = 0; i < orders.length; i++){
            var order = orders[i];
            var row = {
                "id":order._id,
                "itemMessage": "",
                "cell":[
                    {
                        "cellHtml": order.outerId,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.symbol,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.type,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.status,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.dealAmount,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.amount,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.side,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.created ? w.dateformat(new Date(order.created),"yyyy-MM-dd hh:mm:ss") : '',
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.price,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.avgPrice,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.hidden,
                        "isReadOnly": true,
                        "attrs": []
                    }
                ],
                "attrs": []
            };
            data.rows.push(row);
        }
        return data;
    }

    function flexiGridCommand(sender, e) {
        var operateBtn = sender;
        var btnValue = $(operateBtn).attr("dataValue");
        var commandName = $(operateBtn).attr("commandName");
    }

    onToggoleLeft = function () {
        $('#refundRecordFlexiGrid_ContentTable').fixGridWidth();
    };

    function getTransferLogs() {
        var options = {
            pageIndex: 0,
            pageSize: 20,
            status: "wait",
            "_csrf": $('input[name="_csrf"]').val()
        };

        $.ajax({
            type: "POST",
            url: "/admin/trade/list",
            data: options,
            dataType: 'json'
        }).done(function (e) {

            if (e.isSuccess) {
                alert("成功！");
            }
            else {
                alert("系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("系统错误，请稍后重试！");
        });

    }

    function runTransferStep(){
        var sAmount = $('#txtOperateAmount').val();
        var amount = new Number(sAmount);
        if(isNaN(amount) || !isFinite(amount)){
            alert('请输入正确的金额');
            return;
        }

        var options = {
            logId: _currentOperateLog._id,
            amount
        };

        $.ajax({
            type: "POST",
            url: "/admin/trade/list",
            data: options,
            dataType: 'json'
        }).done(function (e) {

            if (e.isSuccess) {
                alert("成功！");
            }
            else {
                alert("系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("系统错误，请稍后重试！");
        });
    }

    function updateStepStatus() {
        var options = {
            orderId: 0,
            status: "wait"
        };

        $.ajax({
            type: "POST",
            url: "/admin/trade/list",
            data: options,
            dataType: 'json'
        }).done(function (e) {
            if (e.isSuccess) {
                alert("成功！");
            }
            else {
                alert("系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("系统错误，请稍后重试！");
        });
    }


    
    
    function flexiGridWx(){   

        var obtn1 = document.getElementById('btn1');
        var obtn2 = document.getElementById('btn2');
        var timer = null;
        

        //点击开始触发获值
        obtn1.onclick = function(){
            debugger
        
        //清空表单
        var p = { page: 1, total: 0, rows: [] };
        //flexAddData是绑定数据
        $('#FlexiGrid_ContentTable').flexAddData(p);
        
        //时间控件
        timer = setInterval(function(){
        
        var ws = new WebSocket("ws://119.28.204.125:8080/ws");
        
        // WebSocket已连接，使用send()方法发送数据
        ws.onopen = function() { 
        let channels = ['market','order','position','wallet']; 
            for(let site of ['okex','bitfinex']){       //这里需要指定  okex和bitfinex吗？
                for(let channel of channels){
                    let options = {
                        event: "addChannel",
                        channel: channel,
                        parameters: { site: site, symbol: '*' }
                    };
                        ws.send(JSON.stringify(options));
                }
            }
        };
        //客户端接收服务端数据时触发
        ws.onmessage = function(evt) {  
            debugger
            let item = JSON.parse(evt.data);
                if(item.channel == 'position'){
                    for(var i =0 ; i<item.data.length;i++){
                        $("#FlexiGrid_ContentTable").append("<tr style='text-align: center;width: 1044;'><td style='text-align: center;width:94px;'>"+item.data[i].site+ "</td><td style='text-align: center;width:94px;'>"+item.data[i].contractId+ 
                        "</td><td style='text-align: center;width:94px;'>"+item.data[i].contractName+ "</td><td style='text-align: center;width:94px;'>"+item.data[i].avgPrice+ 
                        "</td><td style='text-align: center;width:94px;'>"+item.data[i].costPrice+ "</td><td style='text-align: center;width:94px;'>"+item.data[i].eveningUp+ 
                        "</td><td style='text-align: center;width:95px;'>"+item.data[i].positionType+ "</td><td style='text-align: center;width:95px;'>"+item.data[i].profitReal+ 
                        "</td><td style='text-align: center;width:95px;'>"+item.data[i].holdAmount+ "</td><td style='text-align: center;width:95px;'>"+item.data[i].unit+ 
                        "</td><td style='text-align: center;width:95px;'>"+item.data[i].leverRate+ "</td></tr>");
                        //var aa = item.data[i];
                    }
                    // var p = $("#FlexiGrid_ContentTable").GetOptions(aa);
                    //     p.rp = $(this).attr("datavalue");
                    //     $("#FlexiGrid_ContentTable").flexOptions(p);
                }
        } 
    },2000);

    /**
 * 分页函数
 * pno--页数
 * psize--每页显示记录数
 * 分页部分是从真实数据行开始，因而存在加减某个常数，以确定真正的记录数
 * 纯js分页实质是数据行全部加载，通过是否显示属性完成分页功能
 **/
// function goPage(pno){
//     var itable = document.getElementById("FlexiGrid_ContentTable");
//     var num = itable.rows.length;//表格所有行数(所有记录数)
//     console.log(num);
//     var totalPage = 0;//总页数
//     var pageSize = 15;//每页显示行数
//     //总共分几页
//     if(num/pageSize > parseInt(num/pageSize)){
//         totalPage=parseInt(num/pageSize)+1;
//     }else{
//         totalPage=parseInt(num/pageSize);
//     }
//     var currentPage = pno;//当前页数
//     var startRow = (currentPage - 1) * pageSize+1;//开始显示的行  31
//     var endRow = currentPage * pageSize;//结束显示的行   40
//     endRow = (endRow > num)? num : endRow;    //40
//     console.log(endRow);
//     //遍历显示数据实现分页
//     for(var i=1;i<(num+1);i++){
//         var irow = itable.rows[i-1];
//         if(i>=startRow && i<=endRow){
//             irow.style.display = "table-row";
//         }else{
//             irow.style.display = "none";
//         }
//     }
//     var pageEnd = document.getElementById("pageEnd");
//     var tempStr = "<span>共"+totalPage+"页</span>";
 
 
//     if(currentPage>1){
//         tempStr += "<span class='btn' href=\"#\" onClick=\"goPage("+(1)+")\">首页</span>";
//         tempStr += "<span class='btn' href=\"#\" onClick=\"goPage("+(currentPage-1)+")\">上一页</span>"
//     }else{
//         tempStr += "<span class='btn'>首页</span>";
//         tempStr += "<span class='btn'>上一页</span>";
//     }
 
//     for(var pageIndex= 1;pageIndex<totalPage+1;pageIndex++){
//         tempStr += "<a onclick=\"goPage("+pageIndex+")\"><span>"+ pageIndex +"</span></a>";
//     }
 
//     if(currentPage<totalPage){
//         tempStr += "<span class='btn' href=\"#\" onClick=\"goPage("+(currentPage+1)+")\">下一页</span>";
//         tempStr += "<span class='btn' href=\"#\" onClick=\"goPage("+(totalPage)+")\">尾页</span>";
//     }else{
//         tempStr += "<span class='btn'>下一页</span>";
//         tempStr += "<span class='btn'>尾页</span>";
//     }
 
//     document.getElementById("barcon").innerHTML = tempStr;
 
//     }
}
        

    obtn2.onclick = function(){  
        clearInterval(timer);
        var r = ws.close();
        console.log(r)  
               
    }  
}
         //var rr = {"userName":"lcm","outerId":"22","symbol":"btc#cny","side":"sell","modified":"2018-06-28T04:29:21.178Z","created":"2018-06-28T05:07:38.714Z","status":"wait","amount":2,"price":10000,"type":"limit"};
    //     var tt = JSON.parse(rr) || [];    
    //     for(var i = 0;i<tt.length;i++){    
    //         "cell":[
    //                 {
    //                     "cellHtml": ee.outerId,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.symbol,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.type,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.status,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.dealAmount,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.amount,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.side,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.created ? w.dateformat(new Date(ee.created),"yyyy-MM-dd hh:mm:ss") : '',
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.price,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.avgPrice,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 },
    //                 {
    //                     "cellHtml": ee.hidden,
    //                     "isReadOnly": true,
    //                     "attrs": []
    //                 }
    //             ],
    //             "attrs": []
    //         };
    // }
    //         testData.rows.push(tt)
    //         $('#FlexiGrid_ContentTable').flexAddData(testData);

    //     alert(testData);

        // var cc = [{"userName":"lcm","outerId":"22","symbol":"btc#cny","side":"sell","modified":"2018-06-28T04:29:21.178Z","created":"2018-06-28T05:07:38.714Z","status":"wait","amount":2,"price":10000,"type":"limit"},{"userName":"lcm","outerId":"233","symbol":"btc#cny","side":"buy","modified":"2018-06-27T04:29:21.178Z","created":"2018-06-27T05:07:38.714Z","status":"wait","amount":2,"price":10000,"type":"limit"},{"userName":"lcm","outerId":"2444","symbol":"btc#cny","side":"buy","modified":"2018-06-26T04:29:21.178Z","created":"2018-06-26T05:07:38.714Z","status":"wait","amount":2,"price":10000,"type":"limit"}];
        // var aa = JSON.parse(cc) || [];  
        

        //     for(var i = 0; i < aa.length; i++){
        //     var ee = aa[i];
        //     var row = {
        //         "cell":[
        //             {
        //                 "cellHtml": ee.outerId,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.symbol,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.type,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.status,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.dealAmount,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.amount,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.side,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.created ? w.dateformat(new Date(ee.created),"yyyy-MM-dd hh:mm:ss") : '',
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.price,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.avgPrice,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             },
        //             {
        //                 "cellHtml": ee.hidden,
        //                 "isReadOnly": true,
        //                 "attrs": []
        //             }
        //         ],
        //         "attrs": []
        //     };
        //     testData.rows.push(row);
        // }
        // return testData;

        
           
            
            
                        //重新设置参数的方法
                        // var p = $("#FlexiGrid_ContentTable").GetOptions(cc);
                         
                        // p.rp = $(this).attr(10); 
                        // //flexOptions是更改flexigrid参数集合
                        // $("#FlexiGrid_ContentTable").flexOptions(p).flexReload();


                        // var p = $("#FlexiGrid_ContentTable").GetOptions();
                        // p.rp = $(this).attr("datavalue");
                        // $("#FlexiGrid_ContentTable").flexOptions(p);  
           
</script>
{% endblock %}
 
