{% extends "layouts/master.html" %}
{% block header %}

<link rel="stylesheet" type="text/css" href="js/plugins/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/site.css" />
{% endblock %}

{% block body %}

<div class="page-section page-section-tab -color-grey">
    <div class="grid-container">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="glyphicon glyphicon-home"></i>
                    <a href="/dw/default.aspx">首页</a>
                    <i class="glyphicon glyphicon-menu-right"></i>
                </li>
                <li>
                    <a href="#">个人中心</a>
                    <i class="glyphicon glyphicon-menu-right"></i>
                </li>
                <li>
                    <a href="#">充值</a>
                </li>
            </ul>
        </div>

        <ul class="nav nav-tabs -border-none" role="tablist" style="padding-top: 30px;">
            <li class="active"><a href="#profile" role="tab" data-toggle="tab">个人中心</a></li>
            <li><a href="#home" role="tab" data-toggle="tab">图片管理</a></li>
        </ul>
    </div>
</div>

<div class="grid-container">
    <div class="row main-row">
        <div class="col-sm-4 col-md-3">
            <div class="list-group">
                <a href="home.aspx" class="list-group-item">我的服务</a>
                <a href="information.aspx" class="list-group-item active">个人信息</a>
                <a href="vipaccount.aspx" class="list-group-item ">收支明细</a>
                <a href="userorders.aspx" class="list-group-item">订单管理</a>
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption bold">
                        <span class="caption-subject">
                            <i class="glyphicon glyphicon-usd"></i>账户收支</span>
                    </div>
                </div>

                <div class="portlet-body  -margin-v20">

                    <h4>当前余额:<em>￥<asp:Literal runat="server" Text="0" ID="lblAmtLeft"></asp:Literal></em>
                        <!-- ngIf: vm.accountDetail.dedtAmount != 0 -->
                    </h4>

                    <div class="tabbable-custom -margin-v20">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#tab_5_1" data-toggle="tab">支付宝</a>
                            </li>
                          
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_5_1">
                                <div class="recharge" ui-view="recharge" style="margin-top: 30px;">
                                    <form name="rechargeAlipayForm" class="form-horizontal" id="rechargeAlipayFormModel"
                                        role="form" action="RechargeItem.aspx" method="GET" target="_blank">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">充值金额</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" name="amount" />
                                                    <%--<span class="help-block">A block of help text. </span>--%>
                                                </div>
                                            </div>
                                            <div>
                                                <input name="payway" type="hidden" value="Alipay" />
                                            </div>
                                            <div class="simple-form-field">
                                                <label class="bank-alipay" for="bank-alipay"></label>
                                                <div class="alert alert-info">
                                                    <span>温馨提示：</span>
                                                    <br />
                                                    <span>1、通过信用卡的快捷支付有500元限制，超过500元时您可以选择其他方式支付。</span>
                                                    <br />
                                                    <span style="color: red;">2、如您有欠费账单，充值后会优先补扣欠费账单。</span>
                                                    <br />
                                                    <span>3、充值后请及时对支付订单进行结算，以免影响正常服务。</span>
                                                    <br />
                                                </div>
                                            </div>

                                            <div class="simple-form-field">
                                                <div class="form-group simple-form-submit">
                                                    <label class="space control-label" for="rechargeAlipayFormModelsubmit3">
                                                        <span class="ng-binding"></span>
                                                    </label>
                                                    <div class="col-sm-4">
                                                        <button class="btn btn-primary" type="submit">充值</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.modal -->
<div id="responsive" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">充值</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-1 text-center"><span class="text-size-32  icon-warning-1 dialog-icon-color" ng-class="iconClass"></span></div>
            <div class="col-sm-11 breakall ">
                <p class="ng-binding " ng-bind-html="message">
                    <p><strong class="lead"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>请您在新打开的页面上完成充值。</strong></p>
                    <p class="text-muted">充值完成后，根据您的情况点击下面按钮。</p>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="javascript:document.location = document.location;">充值成功</button>
        <button type="button" data-dismiss="modal" class="btn btn-default">充值失败</button>
    </div>
</div>
<!-- /.modal -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        validation();
    });

    // basic validation
    function validation() {

        jQuery.validator.addMethod("currecy", function (value, element) {
            var pattern = /^((0.0[1-9])|(0.[1-9][0-9]?)|([1-9][0-9]*(.\d{1,2})?))$/;
            if (value != '') { if (!pattern.exec(value)) { return false; } };
            return true;
        }, "充值金额必须是大于0的整数或者两位以内的小数！");

        var form1 = $("form[name='rechargeAlipayForm']");
        form1.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "",  // validate all fields including form hidden input
            messages: {
                amount: {
                    required: "请输入充值金额！",
                    range: "输入的金额必须小于1000000！"
                }
            },
            rules: {
                amount: {
                    required: true,
                    currecy: true,
                    range: [0, 1000000]
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit     
                //webnuke.scrollTo(error1, -200);
            },
            highlight: function (element) { // hightlight error inputs
                $(element).closest('.form-group').addClass('has-error'); // set error class to the control group
            },
            unhighlight: function (element) { // revert the change done by hightlight
                $(element).closest('.form-group').removeClass('has-error'); // set error class to the control group
            },
            success: function (label) {
                label.closest('.form-group').removeClass('has-error'); // set success class to the control group
            },
            submitHandler: function (form) {
                $("#responsive").modal('toggle');
                form.submit();
            }
        });
    }
</script>
<!-- END JAVASCRIPTS -->

{% endblock %} 
{% block scripts %}
<script type="text/javascript" src="js/plugins/bootstrap/3.3.5/js/bootstrap.min.js" charset="utf-8"></script>

<script type="text/javascript">
    $(function () {
        var a = '<%= Request.QueryString["a"] %>';
        if (!a) {
            a = 0;
        }
        $("li", ".nav-sidebar").removeClass("active");
        $("li[order=" + a + "]", ".nav-sidebar").addClass("active");
    })
</script>
{% endblock %} 