{% extends "layouts/admin-master.html" %} 
{% block body %}
<div>
    
    <h3>委托列表:</h3>
    <div>
        <div id="FlexiGrid_ContentDiv" onLoad="goPage(1,10);">
            <table id="FlexiGrid_ContentTable" style="display: none">
            </table>
        </div>
        <div id="barcon" name="barcon"></div>
        <div name="customPager" id="flexiGridPager" for="FlexiGrid_ContentTable" style="padding-top: 4px; display: none"></div>
        <input type="hidden" name="_csrf" value="{{_csrf}}" />
        <button id="btn1" onclick="flexiGridxx()">开启</button>&nbsp;&nbsp;<button id="btn2">停止</button><a href="/admin/trade">返回</a>
        <p><input type="button" name="btn" value="获取表格数据" onclick="showTableContent('mytable')"></p>
        <p><div id="result"></div></p>
    </div>
</div>

{% endblock %} {% block scripts %}
<script src="../js/jquery-1.8.2.js" type="text/javascript"></script>
<script src="../js/lib/jquery.flexigrid.js" type="text/javascript"></script>
<script src="../js/common.js" type="text/javascript"></script>

<script type="text/javascript">

    var _currentOperateLog;
    $(function () {
        

        // $('#getStatusList').click(function(){
        //     $("#FlexiGrid_ContentTable").setNewExtParam([{name: "stauts",value: $('#stauts').val() }]);
        //     $("#FlexiGrid_ContentTable").flexReload();
        // });
        initFlexiGrid();
        

        //flexiGridWx();
        //flexiGridxx();
    });

    // function getVal(){
    //     var ws = new WebSocket("ws://119.28.204.125:8080/ws"); 
    //     ws.onopen = function() {  
    //             let channels = ['market','order','position','wallet']; 
    //             for(let site of ['okex','bitfinex']){       //这里需要指定  okex和bitfinex吗？
    //                 for(let channel of channels){
    //                     let option = {
    //                         event: "addChannel",
    //                         channel: channel,
    //                         parameters: { site: site, symbol: '*' }
    //                     };
    //                     ws.send(JSON.stringify(option));
    //                 }
    //             }
    //         };

    //         //客户端接收服务端数据时触发
    //         ws.onmessage = function(evt) {  
    //             let item = JSON.parse(evt.data);
    //             var aa = [];
    //                 if(item.channel == 'order'){
                        
    //                     for(var i =0 ; i<item.data.length;i++){
                            
    //                         aa = item.data[i];
    //                     }



    //     var tab = document.getElementById("FlexiGrid_ContentTable"); 
    //     var rows = tab.rows.length;
    //         for(var i = 0; i < rows; i++){
    //             //childNodes 子节点
    //             // var cols = tab.rows[i].childNodes;
    //             var cols = tab.rows[i];
    //         for(var m = 0; m < cols.length; m++){
    //             alert(cols[m].innerText);
    //             if(aa.outerId == cols.outerId){
    //                 if(aa.)
    //             }
                
    //         }
    //     }
    //}


    function initFlexiGrid() { 
        var initData = {
            "page": 1,  //当前页
            "total": {{ total }},   //总页面数
            "orders": {{ orders | safe }}
        };

        var option = {
            width: 1044,
            height: 'auto',
            data: initData,
            autoPager: false,//分页菜单栏
            autoToolBar: true,
            colResizable: true,
            mutilRowMessage: true,
            showLoading: true,
            showMessageOnRowClicked: true,
            url: '/admin/trade/list',
            colModel: [
                { display: "第三方id",name: "outerId",type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "交易品种", name: "symbol",type: 0,visible: true, width: "80", sortable: true,align: "center" },
                { display: "委托类型",name: "type", type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "委托状态",name: "status", type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "已成交数量",name: "dealAmount", type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "总数量",name: "amount", type: 0,visible: true,width: "100",sortable: true,align: "center" },
                { display: "交易类型",name: "side", type: 0,visible: true,width: "80",sortable: true,align: "center" },
                { display: "时间戳",name: "created", type: 0,visible: true,width: "140",sortable: true,align: "center" },
                { display: "委托价格",name: "price", type: 0,visible: true,width: "100",sortable: true,align: "center" },
                { display: "平均成交价格",name: "avgPrice", type: 0,visible: true,width: "100",sortable: true,align: "center" },
                { display: "是否隐藏单",name: "hidden", type: 0,visible: true,width: "100",sortable: true,align: "center" }
            ],
            onInited: flexiGridInited,
            onPreLoad: flexiGridPreLoad,
            onLoaded: flexiGridLoaded,
            onCommand: flexiGridCommand,
            
            //onSuccess:flexiGridWx,
            //onInit: flexiGridxx,
            

            autoload: false,    //自动加载,改自动加载就会报错
            columnsFixed: true,
            checkCell: {
                showCheckAll: true,
                width: "25"
            },
            gridClass: "bbit-grid",
            bootStrapSupported: false,
            resizable: false,
            showTableToggleBtn: false,
            usepager: true, //是否分页
            useRp: true,    //是否可动态设置分页显示的结果数
            rp: 10,  //每页默认的结果数
            singleselected: false,
            nowrap: true,   //是否不换行
            showcheckbox: false,
            rpOptions: [10,20,30],  //可选择设定的每页结果数
            newp: 1,    //自定义翻页事件,定义刷新后第一页停留在哪个位置
            selectedonclick: false
        };
        
        $("#FlexiGrid_ContentTable").flexigrid(option);
        // $("#FlexiGrid_ContentTable").flexOptions(option).flexReload();
        var csrf = $('input[name="_csrf"]').val();
        $("#FlexiGrid_ContentTable").setNewExtParam([{name: "_csrf",value: csrf }]);
        
    }

    onToggoleLeft = function () {
        $('#FlexiGrid_ContentTable').fixGridWidth();
    };

    function flexiGridInited(options) {
        debugger
        var option = { 
            pagerContainer: $("#flexiGridPager"),
            numDisplayEntries: 2, 
            numEdgeEntries: 2
        };
        $("#FlexiGrid_ContentTable").flexiGridPager(option);
        return options;
    }

    //这个很重要
    function flexiGridLoaded(options){
        $('a[name="manualOperate"]').click(function(){
            var orderId = $(this).attr("data-orderId");
            var operateLog;
            for(var i = 0; i < options.orders.length;i++){
                if(options.orders[i]._id == orderId){
                    operateLog = options.orders[i];
                    break;
                }
            }

            if(operateLog){
                _currentOperateLog = operateLog;
                $('#txtOperateAmount').val(operateLog.orgOperate.orderAmount)
            }
        });
    }

    //加载表格数据
    function flexiGridPreLoad(options){
        if(typeof options.orders == 'string'){
            options.orders = JSON.parse(options.orders);
        }

        var  data = {
            "page": options.page,
            "total": options.total,
            "dataType": "json",
            "rows": [],
            "orders": {}
        };

        var getLogOperateDesc = function(logOperate,isCurrent){
            var desc, operate = logOperate.orgOperate;
            if(operate.action == "transfer"){
                desc = w.format("从{0}网站转出{1}个{2}至{3}网站",operate.transferSource,operate.orderAmount,operate.symbol,operate.transferTarget);
            } else { //order 
                desc = w.format("从{0}网站{1}个{2}",operate.site,operate.side == 'sell' ? '卖出' : '买入',operate.symbol);
            }

            if(isCurrent && !operate.auto){
                desc += '<br/>';
                desc += w.format('<a href="#" name="manualOperate" data-logId="{0}">手动操作</a>',logOperate._id);
            }
            return desc;
        }

        var orders = options.orders || [];
        for(var i = 0; i < orders.length; i++){
            var order = orders[i];
            var row = {
                "id":order._id,
                "itemMessage": "",
                "cell":[
                    {
                        "cellHtml": order.outerId,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.symbol,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.type,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.status,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.dealAmount,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.amount,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.side,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.created ? w.dateformat(new Date(order.created),"yyyy-MM-dd hh:mm:ss") : '',
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.price,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.avgPrice,
                        "isReadOnly": true,
                        "attrs": []
                    },
                    {
                        "cellHtml": order.hidden,
                        "isReadOnly": true,
                        "attrs": []
                    }
                ],
                "attrs": []
            };
            data.rows.push(row);
        }
        return data;
    }

    function flexiGridCommand(sender, e) {
        var operateBtn = sender;
        var btnValue = $(operateBtn).attr("dataValue");
        var commandName = $(operateBtn).attr("commandName");
    }

    onToggoleLeft = function () {
        $('#refundRecordFlexiGrid_ContentTable').fixGridWidth();
    };

    function getTransferLogs() {
        var options = {
            pageIndex: 0,
            pageSize: 20,
            status: "wait",
            "_csrf": $('input[name="_csrf"]').val()
        };

        $.ajax({
            type: "POST",
            url: "/admin/trade/list",
            data: options,
            dataType: 'json'
        }).done(function (e) {

            if (e.isSuccess) {
                alert("成功！");
            }
            else {
                alert("系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("系统错误，请稍后重试！");
        });

    }

    function runTransferStep(){
        var sAmount = $('#txtOperateAmount').val();
        var amount = new Number(sAmount);
        if(isNaN(amount) || !isFinite(amount)){
            alert('请输入正确的金额');
            return;
        }

        var options = {
            logId: _currentOperateLog._id,
            amount
        };

        $.ajax({
            type: "POST",
            url: "/admin/trade/list",
            data: options,
            dataType: 'json'
        }).done(function (e) {

            if (e.isSuccess) {
                alert("成功！");
            }
            else {
                alert("系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("系统错误，请稍后重试！");
        });
    }

    function updateStepStatus() {
        var options = {
            orderId: 0,
            status: "wait"
        };

        $.ajax({
            type: "POST",
            url: "/admin/trade/list",
            data: options,
            dataType: 'json'
        }).done(function (e) {
            if (e.isSuccess) {
                alert("成功！");
            }
            else {
                alert("系统错误，请稍后重试！");
            }
        }).fail(function (e) {
            alert("系统错误，请稍后重试！");
        });
    }


    function flexiGridxx(){
        var bb = {"userName":"lcm","outerId":"22","symbol":"btc#cny","side":"sell","modified":"2018-06-28T04:29:21.178Z","created":"2018-06-28T05:07:38.714Z","status":"wait","amount":2,"price":10000,"type":"limit"};
        //var rr = JSON.parse(bb);

        var p = $("#FlexiGrid_ContentTable").GetOptions();
        for(var i =0 ;i<p.data.rows.length;i++){
            for(var j =0;j<p.data.rows[i].cell.length;j++){
                if(p.data.rows[0].cell[0].cellHtml == bb.outerId){
                    p.data.rows[0].cell[6].cellHtml= bb.side;
                    
                }
                
                    if(p.data.rows[i].cell[6].cellHtml == 'buy'){
                        p.data.rows[i].cell[5].cellHtml = p.data.rows[i].cell[5].cellHtml + bb.dealAmount;
                    }
                    if(p.data.rows[i].cell[6].cellHtml == 'sell'){
                        p.data.rows[i].cell[5].cellHtml = p.data.rows[i].cell[5].cellHtml - bb.dealAmount;

                        if(p.data.rows[i].cell[5].cellHtml < 0){
                            alert('数量错误');
                        }
                    }
                
            }
        }
            // p.rp = 2;  
			// p.newp = 10;
        $("#FlexiGrid_ContentTable").flexOptions(p);
        $("#FlexiGrid_ContentTable").flexReload();

        
    }
    
// var mytable = document.getElementById("FlexiGrid_ContentTable");
//     var data = [];
// for(var i=0,rows=mytable.rows.length; i<rows; i++){
//       for(var j=0,cells=mytable.rows[i].cells.length; j<cells; j++){
//         if(!data[i]){
//           data[i] = new Array();
//         }
//         data[i][j] = mytable.rows[i].cells[j].innerHTML;
		
//       }
//     }
//     return data;
    
//     if(data == bb.outerId){
//             data = bb 
            
// 		}else{
//             alert("错误")
//         }
	
	
//     $("#FlexiGrid_ContentTable").flexOptions(data);

  /** 
   * 遍历表格内容返回数组
   * @param Int  id 表格id
   * @return Array
   */
//   function getTableContent(){
//     var mytable = document.getElementById("FlexiGrid_ContentTable");
//     var data = [];
//     for(var i=0,rows=mytable.rows.length; i<rows; i++){
//       for(var j=0,cells=mytable.rows[i].cells.length; j<cells; j++){
//         if(!data[i]){
//           data[i] = new Array();
//         }
//         data[i][j] = mytable.rows[i].cells[j].innerHTML;
//       }
//     }
//     return data;
//   }
 
  /** 
   * 显示表格内容
   * @param Int  id 表格id
   */
//   function showTableContent(id){
//     var rr = {"userName":"lcm","outerId":"22","symbol":"btc#cny","side":"sell","modified":"2018-06-28T04:29:21.178Z","created":"2018-06-28T05:07:38.714Z","status":"wait","amount":2,"price":10000,"type":"limit"};
//             var bb = JSON.parse(rr);
//     var data = getTableContent(id);
//     var tmp = '';
//     for(i=0,rows=data.length; i<rows; i++){
//       for(j=0,cells=data[i].length; j<cells; j++){
//         // tmp += data[i][j] + ',';
//         if(data[i][j]==bb.outerId){
//             data [i][j] = bb
//         }
//       }
//     //   tmp += '<br>';
//     tmp = data;
//     //获取当前显示的数据
//     var p = $("#FlexiGrid_ContentTable").GetOptions(tmp);
//             p.rp = $(this).attr("datavalue");
//             $("#FlexiGrid_ContentTable").flexOptions(p);
      
//     }
//     document.getElementById('result').innerHTML = tmp;
//   }
    
    // function flexiGridWx(){   

    //     var obtn1 = document.getElementById('btn1');
    //     var obtn2 = document.getElementById('btn2');
    //     var timer = null;
        

    //     //点击开始触发获值
    //     obtn1.onclick = function(){
    //         debugger
        
        // //清空表单
        // var p = { page: 1, total: 0, rows: [] };
        // //flexAddData是绑定数据
        // $('#FlexiGrid_ContentTable').flexAddData(p);
        
        // var ws = new WebSocket("ws://119.28.204.125:8080/ws");
        // var aa,bb;
        // WebSocket已连接，使用send()方法发送数据
        // ws.onopen = function() { 
        // let channels = ['market','order','position','wallet']; 
        //     for(let site of ['okex','bitfinex']){       //这里需要指定  okex和bitfinex吗？
        //         for(let channel of channels){
        //             let options = {
        //                 event: "addChannel",
        //                 channel: channel,
        //                 parameters: { site: site, symbol: '*' }
        //             };
        //                 ws.send(JSON.stringify(options));
        //         }
        //     }
        // };

        //客户端接收服务端数据时触发
        // ws.onmessage = function(evt) {  
        //     debugger
        //     let item = JSON.parse(evt.data);
        //         if(item.channel == 'order'){
        //             for(var i =0 ; i<item.data.length;i++){
        //                  aa = item.data[i];
        //                 }
        //                 bb = JSON.parse(aa);
        //             }
                    
        //         }
        // } 

        // var bb = {"userName":"lcm","outerId":"22","symbol":"btc#cny","side":"sell","modified":"2018-06-28T04:29:21.178Z","created":"2018-06-28T05:07:38.714Z","status":"wait","amount":2,"price":10000,"type":"limit"};
            // var bb = JSON.parse(rr);

        //获取flexigrid控件table中当前页面的数据
        // var mytable = document.getElementById("FlexiGrid_ContentTable");
        // var data = [];
        // for(var i=0,rows=mytable.rows.length; i<rows; i++){
        //   for(var j=0,cells=mytable.rows[i].cells.length; j<cells; j++){
        //     if(!data[i]){
        //       data[i] = new Array();
        //     }
        //     data[i][j] = mytable.rows[i].cells[j].innerHTML;
        //   }
        // }
        // return data;
      
        // if(data.outerId == bb.outerId){
        //     data = bb;
        //     $("#FlexiGrid_ContentTable").flexOptions(data);
        // }
    
     
        // var p = $("#FlexiGrid_ContentTable").GetOptions(aa);
                    //     p.rp = $(this).attr("datavalue");
                    //     $("#FlexiGrid_ContentTable").flexOptions(p);
        

        //时间控件
        // timer = setInterval(function(){
        
        // var ws = new WebSocket("ws://119.28.204.125:8080/ws");
        
        // // WebSocket已连接，使用send()方法发送数据
        // ws.onopen = function() { 
        // let channels = ['market','order','position','wallet']; 
        //     for(let site of ['okex','bitfinex']){       //这里需要指定  okex和bitfinex吗？
        //         for(let channel of channels){
        //             let options = {
        //                 event: "addChannel",
        //                 channel: channel,
        //                 parameters: { site: site, symbol: '*' }
        //             };
        //                 ws.send(JSON.stringify(options));
        //         }
        //     }
        // };
        // //客户端接收服务端数据时触发
        // ws.onmessage = function(evt) {  
        //     debugger
        //     let item = JSON.parse(evt.data);
        //         if(item.channel == 'position'){
        //             for(var i =0 ; i<item.data.length;i++){
        //                 $("#FlexiGrid_ContentTable").append("<tr style='text-align: center;width: 1044;'><td style='text-align: center;width:94px;'>"+item.data[i].site+ "</td><td style='text-align: center;width:94px;'>"+item.data[i].contractId+ 
        //                 "</td><td style='text-align: center;width:94px;'>"+item.data[i].contractName+ "</td><td style='text-align: center;width:94px;'>"+item.data[i].avgPrice+ 
        //                 "</td><td style='text-align: center;width:94px;'>"+item.data[i].costPrice+ "</td><td style='text-align: center;width:94px;'>"+item.data[i].eveningUp+ 
        //                 "</td><td style='text-align: center;width:95px;'>"+item.data[i].positionType+ "</td><td style='text-align: center;width:95px;'>"+item.data[i].profitReal+ 
        //                 "</td><td style='text-align: center;width:95px;'>"+item.data[i].holdAmount+ "</td><td style='text-align: center;width:95px;'>"+item.data[i].unit+ 
        //                 "</td><td style='text-align: center;width:95px;'>"+item.data[i].leverRate+ "</td></tr>");
        //                 //var aa = item.data[i];
        //             }
        //             // var p = $("#FlexiGrid_ContentTable").GetOptions(aa);
        //             //     p.rp = $(this).attr("datavalue");
        //             //     $("#FlexiGrid_ContentTable").flexOptions(p);
        //         }
        // } 
    // },2000);
           
</script>
{% endblock %}
 
